<template>
    <octo-modal
        :visible="showModal"
        title="Nuova pagina"
        title-icon="web-programming"
        :buttons="buttons"
        confirm-message="Confermi di voler creare una pagina nuova?"
        @onSavePage="onSavePage"
    >
        <b-row>
            <b-col cols="12">
                <p>
                    Inserisci qui il titolo e l'indirizzo della pagina che vuoi creare.
                </p>
                <p>
                    La pagina creata sarà nella lingua predefinita, quindi non è necessario
                    inserire il prefisso della lingua nell'url relativo. Nel caso fosse impostato il multilingua potrai
                    creare le pagine corrispondenti alle altre lingue in un secondo momento
                </p>
            </b-col>
            <b-col cols="12" class="mb-3">
                <octo-input icon="edit"
                            v-model="pageTitle"
                            name="pageTitle"
                            label="Titolo Pagina"/>
            </b-col>
            <b-col cols="12" class="mb-3">
                <octo-input icon="edit"
                            v-model="pageUrl"
                            name="pageUrl"
                            label="Url relativo"/>
            </b-col>
        </b-row>
    </octo-modal>
</template>

<script>
    import OctoModal from "@/components/octo-modal/OctoModal";
    import OctoInput from "@/components/octo-input/OctoInput";
    export default {
        name: "NewPageModal",
        components: {OctoInput, OctoModal},
        data() {
            return {
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSavePage',
                        variant: 'primary',
                        confirm: true
                    }
                ],
                pageTitle: '',
                pageUrl: '',
            }
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
        },

        methods: {
            onSavePage: function () {
                this.$emit('onSavePage', {
                    title : this.pageTitle,
                    url: this.pageUrl
                })
            }
        }
    }
</script>

<style scoped>

</style>
