<template>
    <octo-modal
        :visible="showModal"
        title="Nuova pagina"
        title-icon="web-programming"
        :buttons="buttons"
        confirm-message="Confermi di voler creare una pagina nuova?"
        @onSaveLangPage="onSaveLangPage"
    >
        <b-row>
            <b-col cols="12">
                <p>
                    Inserisci l'indirizzo della pagina che vuoi creare.
                </p>
                <p>
                    Non è necessario inserire il prefisso della lingua nell'url relativo.
                </p>
            </b-col>
            <b-col cols="12" class="mb-3">
                <octo-input icon="edit"
                            v-model="pageUrl"
                            name="pageUrl"
                            label="Url relativo"/>
            </b-col>
        </b-row>
    </octo-modal>
</template>

<script>
    import OctoModal from "@/components/octo-modal/OctoModal";
    import OctoInput from "@/components/octo-input/OctoInput";
    export default {
        name: "NewPageLangModal",
        components: {OctoInput, OctoModal},
        data() {
            return {
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveLangPage',
                        variant: 'primary',
                        confirm: true
                    }
                ],
                pageTitle: '',
                pageUrl: '',
            }
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
        },

        methods: {
            onSaveLangPage: function () {
                this.$emit('onSaveLangPage', {
                    title : this.pageTitle,
                    url: this.pageUrl
                })
            }
        }
    }
</script>

<style scoped>

</style>
