<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Gestione Blocchi
                </b-col>
            </b-row>
        </b-container>


        <octo-header-button
            @onShowNewBlockHtmlSidebar="showNewBlockHtmlSidebar"
            @showNewBlockEntitySidebar="showNewBlockEntitySidebar"
            @showNewSlideSidebar="showNewSlideSidebar"
            :buttons="headerButtons"/>

        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <block-html-main ref="blockHtmlMain"></block-html-main>
                    <block-entity-main ref="blockEntityMain"></block-entity-main>
                    <slide-main ref="slideMain"></slide-main>
                </b-col>
            </b-row>
        </b-container>

    </div>
</template>

<script>

import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import BlockHtmlMain from "../components/BlockHtml/BlockHtmlMain";
import BlockEntityMain from "../components/BlockEntity/BlockEntityMain";
import SlideMain from "../components/Slide/SlideMain";

export default {
    name: "BlocksView",
    components: {BlockEntityMain, BlockHtmlMain, OctoHeaderButton, SlideMain},
    data() {
        return {
            headerButtons: [
                {
                    label: 'Nuovo blocco html',
                    onClick: 'onShowNewBlockHtmlSidebar',
                    icon: 'plus'
                },
                {
                    label: 'Nuovo blocco entity',
                    onClick: 'showNewBlockEntitySidebar',
                    icon: 'plus'
                },
                {
                    label: 'Nuova Slide',
                    onClick: 'showNewSlideSidebar',
                    icon: 'plus'
                }
            ],

        }
    },
    mounted() {

    },
    methods: {
        showNewBlockHtmlSidebar: function () {
            this.$refs.blockHtmlMain.showNewBlockSidebar();
        },
        showNewBlockEntitySidebar: function () {
            this.$refs.blockEntityMain.showNewBlockSidebar();
        },
        showNewSlideSidebar: function () {
            this.$refs.slideMain.showNewSlideSidebar();
        },

    }
}
</script>

<style scoped>

</style>
