<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onAddFooter="addFooter"
            @onSaveFooters="saveFooters"
            @onFlushCache="flushCache"
            :buttons="headerButtons"/>

        <b-container fluid>
            <b-row>
                <b-col cols="12" class="mt-3 section-sticky">
                    <available-footer-items
                        :block-html="blockHtml"
                        :block-entities="blockEntities"
                        :menus="menus"/>
                </b-col>
                <b-col cols="12" class="mt-3">
                    <footers-contents :footers="footers" :key="footersContentsKey" ref="footersContents" />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import AvailableFooterItems from "../components/Footer/AvailableFooterItems";
import FootersContents from "../components/Footer/FootersContents";
import {routes} from "../routes";

export default {
    name: "FootersView",
    components: {FootersContents, AvailableFooterItems, OctoHeaderButton},
    data() {
        return {
            headerButtons: [
                {
                    label: 'Cancella cache',
                    onClick: 'onFlushCache',
                    icon: 'delete'
                },
                {
                    label: 'Nuovo footer',
                    onClick: 'onAddFooter',
                    icon: 'plus'
                },
                {
                    label: 'Salva footers',
                    onClick: 'onSaveFooters',
                    icon: 'floppy-disk'
                },
            ],
            footers: [],
            footersContentsKey: 1,
            blockHtml: [],
            blockEntities: [],
            menus: [],
        }
    },
    async mounted() {
        try {
            const resp = await this.$api.get(routes.FOOTER_INDEX);
            this.footers = this.$_.orderBy(resp.data.data, 'order')
            this.footersContentsKey ++;

            const respContents = await this.$api.get(routes.FOOTER_GET_ALL_CONTENTS);
            this.blockHtml = respContents.data.blockHtml;
            this.menus = respContents.data.menus;
            this.blockEntities = respContents.data.blockEntity;

        } catch (e) {
            this.$bvToast.toast('Footers non caricati correttamente', {
                title: 'Saving...',
                variant: 'danger'
            });
        }
    },
    methods: {
        addFooter: function () {
            this.$refs.footersContents.addNewFooter();
        },

        saveFooters: function () {
            if (this.$refs.footersContents.validate()) {
                this.$fullLoading.show();
                this.$api.post(routes.FOOTER_STORE, this.$refs.footersContents.getFooters())
                    .then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Footers salvati correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                    })
                    .catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    })
            }
        },

        flushCache() {
            this.$fullLoading.show();
            this.$api.post(
                routes.CACHE_FLUSH,
                {tag: 'footers'}
            ).then(() => {
                this.$fullLoading.hide();
                this.$bvToast.toast('Cache cancellata correttamente', {
                    title: 'Deleting...',
                    variant: 'success'
                });
            }).catch(() => {
                this.$fullLoading.hide();
                this.$bvToast.toast('Cache non cancellata', {
                    title: 'Deleting...',
                    variant: 'danger'
                });
            })
        }
    }
}
</script>

<style scoped>

</style>
