<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSaveMenu="saveMenu"
            @onOpenNewMenuSidebar="openNewMenuSidebar"
            :buttons="headerButtons"/>
        <b-container fluid>

            <b-row>
                <b-col cols="8" class="">
                    <div class="subtitle mt-3">
                        Menu: <span class="text-primary text-uppercase">{{ menuSelected.name }}</span>
                    </div>
                    <div>
                        Blade: <span class="text-primary">{{ menuSelected.blade }}</span>
                    </div>
                </b-col>
                <b-col cols="4" class="mt-3 d-flex align-items-end">
                    <octo-select class="flex-grow-1"
                                 name="change_freq"
                                 label="Menu selezionato"
                                 :value="menuSelected.id"
                                 @change="changeMenuSelected"
                                 :key="menuSelectedKey"
                                 :options="menuOptions"/>
                </b-col>
            </b-row>
            <b-row>
                <b-col class="mt-3" cols="4"
                       v-for="(item, index) in menuSelected.menuLangs" v-bind:key="index">
                    <octo-input
                        :append="item.lang"
                        v-model="item.title"
                        class="mr-3"
                        :name="`title-${index}`"/>
                </b-col>

            </b-row>
            <b-row>
                <b-col cols="12" class="mt-3 section-sticky">
                    <available-menu-items/>
                </b-col>
                <b-col cols="12" class="mt-3">
                    <menu-contents
                        ref="menuContents"
                        :menu-items="menuItems"
                        :key="menuContentsKey"
                    />
                </b-col>
            </b-row>
        </b-container>
        <octo-sidebar-right :show-sidebar="showNewMenuSidebar"
                            title="Nuovo Menu"
                            @onStoreMenu="storeMenu"
                            :buttons="sidebarButtons"
                            @onHidden="showNewMenuSidebar = false">
            <new-menu-sidebar ref="newMenuSidebar"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import {routes} from "../routes";
import Menu from "../models/menu";
import AvailableMenuItems from "../components/Menu/AvailableMenuItems";
import MenuContents from "../components/Menu/MenuContents";
import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
import OctoSelect from "@octoCmsComponents/octo-select/OctoSelect";
import MenuLang from "../models/menuLang";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
import NewMenuSidebar from "../components/Menu/NewMenuSidebar";

export default {
    name: "PagesView",
    components: {
        NewMenuSidebar,
        OctoInput,
        OctoSelect,
        OctoSidebarRight, MenuContents, AvailableMenuItems, OctoHeaderButton
    },
    data() {
        return {
            headerButtons: [
                {
                    label: 'Nuovo menu',
                    onClick: 'onOpenNewMenuSidebar',
                    icon: 'add'
                },
                {
                    label: 'Salva Menu',
                    onClick: 'onSaveMenu',
                    icon: 'floppy-disk'
                }

            ],
            sidebarButtons: [
                {
                    label: 'Salva',
                    onClick: 'onStoreMenu',
                    icon: 'floppy-disk'
                },
            ],
            showNewMenuSidebar: false,
            menuList: [],
            menuSelected: this.$_.cloneDeep(Menu),
            menuContentsKey: 1,
            menuItems: [],
            menuSelectedKey: 1
        }
    },
    computed: {
        menuOptions: function () {
            return this.$_.map(this.menuList, (item) => {
                return {
                    value: item.id,
                    text: item.name
                }
            })
        }
    },
    async mounted() {
        try {
            this.$fullLoading.show();
            const resp = await this.$api.get(routes.MENU_INDEX);
            this.menuList = resp.data.data;
            this.menuSelected = this.$_.find(this.menuList, (item) => {
                return item.name === 'main'
            });

            this.menuItems = await this.getMenuItems(this.menuSelected.id);
            this.menuContentsKey++;

            this.$completeLangs(
                this.menuSelected.menuLangs,
                MenuLang,
                this.menuSelected.id,
                'menu_id'
            );

            this.$fullLoading.hide();

        } catch (e) {
            this.$bvToast.toast('Menù non caricato correttamente', {
                title: 'Menu',
                variant: 'danger'
            });
            this.$fullLoading.hide();
        }


    },
    methods: {

        getMenuItems: function (menuId) {
            return new Promise((resolve, reject) => {
                this.$api.get(routes.MENU_INDEX + '/' + menuId)
                    .then((resp) => {
                        resolve(resp.data.data.items);
                    })
                    .catch((err) => {
                        reject(err)
                    });
            });
        },

        openNewMenuSidebar: function () {
            this.showNewMenuSidebar = true;
        },

        changeMenuSelected: function (menuId) {

            this.$bvModal.msgBoxConfirm(
                'Sei sicuro di voler cambiare menu ?',
                {
                    title: 'Conferma azione',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'primary',
                    cancelVariant: 'dark',
                    okTitle: 'SI',
                    cancelTitle: 'NO',
                    footerClass: 'p-1',
                    headerClass: 'py-1 px-2',
                    hideHeaderClose: true,
                    noCloseOnBackdrop: true,
                    noCloseOnEsc: true,
                    centered: true
                })
                .then(value => {
                    if (value) {

                        this.menuSelected = this.$_.find(this.menuList, (item) => {
                            return item.id === menuId
                        });

                        if (!this.menuSelected) {
                            this.$bvToast.toast('Menu non cambiato correttamente', {
                                title: 'Saving',
                                variant: 'danger'
                            });
                            return;
                        }

                        this.$completeLangs(
                            this.menuSelected.menuLangs,
                            MenuLang,
                            this.menuSelected.id,
                            'menu_id'
                        );
                        this.$fullLoading.show();
                        this.getMenuItems(this.menuSelected.id)
                            .then((resp) => {
                                this.$fullLoading.hide();
                                this.menuItems = resp;
                                this.menuContentsKey++;
                            }).catch(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Menu non caricato correttamente', {
                                title: 'Saving',
                                variant: 'danger'
                            });
                        })
                    } else {
                        this.menuSelectedKey++;
                    }
                })

        },

        storeMenu: function () {
            if (this.$refs.newMenuSidebar.validate()) {
                this.$fullLoading.show();
                this.$api.post(routes.MENU_STORE, this.$refs.newMenuSidebar.getMenu())
                    .then((resp) => {
                        this.menuList.push(resp.data.data);
                        this.showNewMenuSidebar = false;
                        this.$fullLoading.hide();
                    }).catch((err) => {
                    this.$fullLoading.hide();
                    this.$errorMessageHandler.display(err);
                })
            }
        },

        selectMenu: function (menu) {
            this.getMenuItems(menu.id)
                .then((resp) => {
                    this.menuSelected = menu;
                    this.menuItems = resp || [];
                }).catch(() => {
                this.$bvToast.toast('Menù non caricato correttamente', {
                    title: 'Menu',
                    variant: 'danger'
                });
            });
        },

        saveMenu: async function () {
            try {
                const resp = await this.$api.put(
                    routes.MENU_UPDATE.replace('{id}', this.menuSelected.id),
                    this.menuSelected
                );
                this.menuSelected = resp.data.data;

                await this.$api.post(
                    routes.MENU_ITEMS_STORE.replace('{id}', this.menuSelected.id),
                    this.menuItems
                );

                this.$bvToast.toast('Menu salvato correttamente', {
                    title: 'Saving...',
                    variant: 'success'
                });
            } catch (e) {
                this.$bvToast.toast('Menu non salvato', {
                    title: 'Saving...',
                    variant: 'danger'
                });
            }
        },
    }
}
</script>

<style scoped lang="scss">
.section-sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    z-index: 1;
}
</style>
