<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onShowNewPageSidebar="showNewPageSidebar"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <page-datatable
                        :key="pagesDatatableKey"
                        @onOpenPageSidebar="openPageSidebar"
                        @onShowPage="showPage"
                    />
                </b-col>
            </b-row>
        </b-container>

        <octo-sidebar-right
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
            :title="titleSidebar"
            @onHidden="showSidebar = false"
            @onSavePage="savePage"
            @onDeletePage="console.log('cancella pagina')"
        >
            <page-form
                ref="pageForm"
                :key="pageInfoKey"
                :page="currentPage"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import PageDatatable from "../datatables/PageDatatable";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import PageForm from "../forms/PageForm";
    import Page from "../models/page";

    export default {
        name: "PagesView",
        components: {PageForm, OctoSidebarRight, PageDatatable, OctoHeaderButton},
        data() {
            return {
                currentPage: Page,
                showSidebar: false,
                titleSidebar: '',
                pagesDatatableKey: 1,
                pageInfoKey: 1,
                sidebarButtons: [
                    {
                        label: 'salva',
                        onClick: 'onSavePage',
                        icon: 'floppy-disk',
                    },
                ],
                headerButtons: [
                    {
                        label: 'Nuova pagina',
                        onClick: 'onShowNewPageSidebar',
                        icon: 'pen'
                    },
                ]
            }
        },
        methods: {
            showNewPageSidebar: function () {
                this.titleSidebar = 'Nuova Page';
                this.currentPage = this.$_.cloneDeep(Page);
                this.showSidebar = true;
                this.pageInfoKey++;
            },

            openPageSidebar: function (item) {
                this.titleSidebar = item.name;
                this.currentPage = this.$_.cloneDeep(item);
                this.showSidebar = true;
                this.pageInfoKey++;
            },

            savePage: function () {
                if (this.$refs.pageForm.validate()) {
                    this.$fullLoading.show();
                    this.$api({
                        method: this.currentPage.id ? 'put' : 'post',
                        url: this.currentPage.id ? routes.PAGES_UPDATE.replace('{id}', this.currentPage.id) : routes.PAGES_STORE,
                        data: this.currentPage
                    }).then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Pagina salvata correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.pagesDatatableKey++;
                        this.showSidebar = false;
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    })
                }
            },

            showPage(pageId) {
                this.$routerDispatch.redirect(routes.PAGES_VIEW_SHOW, {id : pageId})
            }
        },
    }
</script>

<style scoped>

</style>
