<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Page Redirects
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            :buttons="headerButtons"
            @onOpenPageRedirectSidebar="openPageRedirectSidebar"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <page-redirect-datatable
                        :key="pageRedirectDatatableKey"
                        @onOpenPageRedirectSidebar="openPageRedirectSidebar"
                    />
                </b-col>
            </b-row>
        </b-container>
        <octo-sidebar-right
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
            :title="titleSidebar"
            @onHidden="showSidebar = false"
            @onSavePageRedirect="savePageRedirect"
            @onDeletePageRedirect="deletePageRedirect">
            <page-redirect-form
                ref="pageRedirectForm"
                :key="pageRedirectInfoKey"
                :page-redirect="currentPageRedirect"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import PageRedirect from "../models/pageRedirect";
    import PageRedirectForm from "../forms/PageRedirectForm";
    import PageRedirectDatatable from "../datatables/PageRedirectDatatable";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "PageRedirectView",
        components: {PageRedirectForm, PageRedirectDatatable, OctoHeaderButton, OctoSidebarRight},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Nuova redirect',
                        onClick: 'onOpenPageRedirectSidebar',
                        icon: 'pen'
                    },
                ],
                sidebarButtons: [],
                showSidebar: false,
                titleSidebar: 'Nuovo',
                currentPageRedirect: PageRedirect,
                pageRedirectDatatableKey: 1,
                pageRedirectInfoKey: 1
            }
        },
        mounted() {
            this.$root.$on('bv::modal::hide', () => {
                this.showSidebar = false;
            })
        },
        methods: {
            openPageRedirectSidebar: function (item) {
                this.titleSidebar = item ? item.old_url : 'Nuovo PageRedirect';
                this.currentPageRedirect = item ? this.$_.cloneDeep(item) : this.$_.cloneDeep(PageRedirect);
                this.providerInfoKey++;
                this.showSidebar = true;
                this.sidebarButtons = [
                    {
                        label: 'salva',
                        onClick: 'onSavePageRedirect',
                        icon: 'floppy-disk',
                    },
                ];

                if (item) {
                    this.sidebarButtons.push({
                        label: 'elimina',
                        onClick: 'onDeletePageRedirect',
                        icon: 'delete',
                        styleBtn: 'secondary-button',
                        confirmData: {
                            title: 'Conferma Eliminazione',
                            message: 'Vuoi eliminare la redirect?'
                        },
                    })
                }
                this.pageRedirectInfoKey++;
            },

            savePageRedirect: function () {
                // if (this.$refs.pageRedirectForm.validate()) {
                    this.$fullLoading.show();
                    this.$api({
                        method: this.currentPageRedirect.id ? 'put' : 'post',
                        url: this.currentPageRedirect.id ? routes.PAGES_REDIRECTS_UPDATE.replace('{id}', this.currentPageRedirect.id) : routes.PAGES_REDIRECTS_STORE,
                        data: this.currentPageRedirect
                    }).then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Redirect salvata correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.pageRedirectDatatableKey++;
                        this.showSidebar = false;
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    })
                // }
            },

            deletePageRedirect() {
                this.$fullLoading.show();
                this.$api.delete(routes.PAGES_REDIRECTS_DELETE.replace('{id}', this.currentPageRedirect.id))
                    .then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Redirect cancellata correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.pageRedirectDatatableKey++;
                        this.showSidebar = false;
                    })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Redirect non cancellata', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    })
            }
        }
    }
</script>

<style scoped>

</style>
