<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSavePage="savePage"
            :buttons="headerButtons"/>
        <b-container fluid class="mt-3">
            <b-row>
                <b-col cols="4">
                    <available-contents
                        :block-entities="blockEntities"
                        :block-html="blockHtml"
                    />
                </b-col>
                <b-col cols="8">
                    <page-contents
                        :key="pageContentsKey"
                        ref="pageContents"
                        :page-id="pageId"
                        :pageLangs="pageLangs"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import {routes} from "../routes";
    import AvailableContents from "../components/PageBuilder/AvailableContents";
    import PageContents from "../components/PageBuilder/PageContents";

    export default {
        name: "PageBuilderView",
        components: {PageContents, AvailableContents, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Salva Pagina',
                        onClick: 'onSavePage',
                        icon: 'floppy-disk'
                    },
                ],
                blockHtml: [],
                blockEntities: [],
                pageLangs: [],
                pageContentsKey: 1,
                pageId : 0
            }
        },
        async mounted() {

            try {
                const clearRoute = location.toString().replace(location.search, "");
                const routeSlice = clearRoute.split('/');

                this.pageId = routeSlice.pop();
                this.$fullLoading.show();
                const respContents = await this.$api.get(routes.PAGES_GET_ALL_CONTENTS);
                this.blockHtml = respContents.data.blockHtml;
                this.blockEntities = respContents.data.blockEntity;

                const respPageLang = await this.$api.get(routes.PAGES_LANG_GET.replace('{id}', this.pageId));
                this.pageLangs = respPageLang.data.data;
                this.pageContentsKey++;
                this.$fullLoading.hide();
            } catch (e) {
                this.$bvToast.toast('Problemi nel caricamento dei contenuti della pagina', {
                    title: 'Loading...',
                    variant: 'danger'
                });
                this.$fullLoading.hide();
            }

        },

        computed: {


        },
        methods: {

            savePage: function () {
                this.pageLangs = this.$refs.pageContents.getPageLangLocals();
                this.$fullLoading.show();
                this.$api.put(routes.PAGES_LANG_UPDATE_CONTENTS.replace('{id}', this.pageId), this.pageLangs)
                    .then((resp) => {
                        this.$set(this, 'pageLangs', resp.data.data);
                        this.$bvToast.toast('Pagina salvata correttamente', {
                            title: 'Page Action',
                            variant: 'success'
                        });
                        this.$fullLoading.hide();
                    })
                    .catch(() => {
                        this.$bvToast.toast('Pagina non salvata', {
                            title: 'Page Action',
                            variant: 'danger'
                        });
                        this.$fullLoading.hide();
                    })
            }
        }
    }
</script>

<style scoped>

</style>
