<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Breadcrumbs
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSave="onSave"
            @onFlushCache="flushCache"
            :buttons="headerButtons"/>
        <b-container fluid>
            <b-row>
                <b-col cols="12" class="mt-3">
                    <page-setting-form ref="pageSettingForm"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import PageSettingForm from "../forms/PageSettingForm";
    import {routes} from "../routes";

    export default {
        name: "SettingsView",
        components: {PageSettingForm, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Cancella cache',
                        onClick: 'onFlushCache',
                        icon: 'delete'
                    },
                    {
                        label: 'Salva',
                        onClick: 'onSave',
                        icon: 'floppy-disk'
                    },
                ],

            }
        },

        mounted() {

        },
        methods: {

            onSave: function () {
                this.$fullLoading.show();
                this.$api.post(
                    routes.CONFIG_SETTINGS_SITE_POST,
                    this.$refs.pageSettingForm.getSettings()
                ).then(
                    (resp) => {
                        this.$localStorage.saveSettings(resp.data);
                        this.$bvToast.toast('Impostazioni aggiornate', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.$fullLoading.hide();
                    }
                ).catch(() => {
                    this.$bvToast.toast('Impostazioni non aggiornate', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                    this.$fullLoading.hide();
                })
            },

            flushCache() {
                this.$fullLoading.show();
                this.$api.post(
                    routes.CACHE_FLUSH,
                    {tag: 'settings'}
                ).then(
                    () => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Cache cancellata correttamente', {
                            title: 'Deleting...',
                            variant: 'success'
                        });
                    }
                ).catch(() => {
                    this.$bvToast.toast('Cache non cancellata', {
                        title: 'Deleting...',
                        variant: 'danger'
                    });
                    this.$fullLoading.hide();
                })
            }
        }
    }
</script>

<style scoped>

</style>
