<template>
    <div>
        <b-alert show variant="primary"
                 class="text-uppercase text-left py-1">
            {{title}}
        </b-alert>
        <octo-input class="mt-3"
                    label="Numero massimo di elementi da visualizzare"
                    name="limit"
                    v-model="limit"/>
    </div>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import PageLangContent from "../../models/pageLangContent";

    export default {
        name: "BlockEntityTargetNewest",
        components: {OctoInput},
        data() {
            return {
                limit: 0,
                localContent: PageLangContent,
            }
        },
        props: {
            title: {
                type: String,
                default: ''
            },
            content: {
                type: Object,
                default: () => PageLangContent
            }
        },
        mounted() {
            this.localContent = this.$_.cloneDeep(this.content);
            this.limit = this.localContent.targets.values.limit || 0;
        },
        methods: {
            getTargetsValue: function () {
                this.localContent.targets.values = {limit: this.limit};

                return this.localContent.targets.values;
            }
        }
    }
</script>

<style scoped>

</style>
