<template>
    <div>
        <b-alert show variant="primary"
                 class="text-uppercase text-left py-1">
            {{title}}
        </b-alert>
        <octo-button class="mt-3"
                     label="Aggiungi entità"
                     @onClick="onOpenModalEntity"
                     icon="plus"/>

        <b-list-group flush class="mt-3">
            <draggable v-model="localContent.targets.values" group="people" @start="drag=true" @end="drag=false">
                <b-list-group-item class="d-flex align-items-center p-2"
                                   v-for="(item, index) in localContent.targets.values" v-bind:key="index">
                    <div class="mr-2">
                        <octo-icon icon="menu"/>
                    </div>
                    <div class="flex-grow-1">
                        <div>{{item.name}}</div>
                        <div v-if="item.description" class="small">{{item.description}}</div>
                    </div>
                    <div class="ml-auto" v-on:click="removeContentId(item)">
                        <octo-icon icon="delete"/>
                    </div>
                </b-list-group-item>
            </draggable>
        </b-list-group>
        <b-alert v-if="localContent.targets.values && localContent.targets.values.length === 0" show variant="secondary"
                 class="mt-3 text-uppercase text-center">
            Nessuna entità inserita
        </b-alert>

        <modal-block-entity-ids
            :show-modal="showModalBlockEntityIds"
            :excluded-ids="excludedIds"
            :key="modalBlockEntityIdsKey"
            :entity="localContent.type ? localContent.type.entity : null"
            @onAddBlockEntityIds="addBlockEntityIds"/>
    </div>

</template>

<script>
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import ModalBlockEntityIds from "./ModalBlockEntityIds";
    import PageLangContent from "../../models/pageLangContent";
    import blockHtmlConst from "../../resources/blockHtmlConst";
    import draggable from '@adminNodeModules/vuedraggable'

    export default {
        name: "BlockEntityTargetCustom",
        components: {ModalBlockEntityIds, OctoIcon, OctoButton, draggable},
        data() {
            return {
                localContent: PageLangContent,
                blockHtmlConst: blockHtmlConst,
                showModalBlockEntityIds: false,
                modalBlockEntityIdsKey: 1,
            }
        },
        props: {
            title: {
                type: String,
                default: ''
            },
            data: {
                type: Object,
                default: () => {}
            },
            content: {
                type: Object,
                default: () => PageLangContent
            }
        },
        computed: {
            excludedIds: function () {
                return this.$_.map(this.localContent.targets.values, (item) => {
                    return item.id;
                })
            }
        },
        mounted() {
            this.localContent = this.$_.cloneDeep(this.content);

            this.$root.$on('bv::modal::hide', () => {
                this.showModalBlockEntityIds = false;
            })

        },
        methods: {
            onOpenModalEntity: function () {
                this.showModalBlockEntityIds = true;
                this.modalBlockEntityIdsKey++;
            },

            addBlockEntityIds: function (items) {
                this.localContent.targets.values = [
                    ...this.localContent.targets.values,
                    ...items
                ]
                this.showModalBlockEntityIds = false;
            },

            removeContentId: function (item) {
                this.$set(this.localContent.targets, 'values', this.$_.filter(this.localContent.targets.values, (localContentId) => {
                    return localContentId.id !== item.id
                }));
            },

            getTargetsValue: function () {
                return this.localContent.targets.values;
            }
        }
    }
</script>

<style scoped>

</style>
