<template>
    <div>
        <div class="mb-4 px-1 d-flex flex-column" v-if="localContent.type">
            <div class="text-uppercase text-primary">consigli per l'utilizzo:</div>
            {{localContent.type.instructions}}
        </div>
        <template v-if="localContent.data.length">
            <b-alert show variant="primary"
                     class="text-uppercase text-left py-1">
                Variabili Blocco
            </b-alert>
            <b-list-group flush class="mt-3">
                <b-list-group-item class="d-flex align-items-center"
                                   v-for="(variable, index) in localContent.data" v-bind:key="index">
                    <div class="icon-block mr-3">
                        <octo-icon :icon="blockHtmlConst[variable.type].icon"/>
                    </div>
                    <div class="flex-grow-1 text-uppercase">
                        <component
                            :variable="variable"
                            :is="blockHtmlConst[variable.type].variableComponent"/>
                    </div>
                </b-list-group-item>
            </b-list-group>
        </template>

        <b-alert show variant="primary"
                 class="text-uppercase text-left py-1">
            Targets
        </b-alert>

        <b-form-group>
            <b-form-radio-group
                @change="updateTargetsComponent"
                id="radio-targets-group" v-model="localContent.targets.type" name="radio-targets-group">
                <div
                    class="mb-2"
                    v-for="(item, index) in pageLangContentTarget" v-bind:key="index">
                    <b-form-radio :value="item.value">
                        <div>{{item.label}}</div>
                        <div class="small">{{item.description}}</div>
                    </b-form-radio>
                </div>
            </b-form-radio-group>
        </b-form-group>

        <component
            :title="pageLangContentTarget[localContent.targets.type]
            ? pageLangContentTarget[localContent.targets.type].label
            : ''"
            ref="targetsComponentRef"
            :key="targetsComponentKey"
            :content="localContent"
            :is="getTargetsComponents(localContent.targets.type)"/>

    </div>
</template>

<script>
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import blockHtmlConst from "../../resources/blockHtmlConst";
    import ModalBlockEntityIds from "./ModalBlockEntityIds";
    import PageLangContent from "../../models/pageLangContent";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import PAGELANG_CONTENT_TARGETS from "../../resources/PageLangContentTargetsConst";
    import TargetTypesConst from "../../resources/TargetTypesConst";

    export default {
        name: "BlockEntityComposer",
        components: {OctoIcon, ModalBlockEntityIds, OctoButton},
        data() {
            return {
                localContent: PageLangContent,
                blockHtmlConst: blockHtmlConst,
                targetsComponentKey: 1,
                pageLangContentTarget: PAGELANG_CONTENT_TARGETS
            }
        },
        props: {
            content: {
                type: Object,
                default: () => this.$_.cloneDeep(PageLangContent)
            },
        },
        computed: {},

        mounted() {
            this.localContent = this.$_.cloneDeepWith(this.content, (item) => {
                if (!item.targets) {
                    item.targets = {
                        values: [],
                        type: PAGELANG_CONTENT_TARGETS.custom.value
                    }
                }
                return item;
            });

        },

        methods: {

            getTargetsComponents: function (type) {
                const targetsComponent = this.$_.filter(PAGELANG_CONTENT_TARGETS, (item) => {
                    return item.value === type
                });

                return targetsComponent && targetsComponent[0] ? targetsComponent[0].component : null;
            },

            updateTargetsComponent: function (item) {
                this.localContent.targets.type = item;
                this.localContent.targets.values = this.getValueType(item);
                this.getTargetsComponents(this.localContent.targets.type);
                this.targetsComponentKey++;
            },

            getLocalContent: function () {
                this.localContent.targets.values = this.$refs.targetsComponentRef.getTargetsValue();
                return this.localContent;
            },

            getValueType(type) {
                return type === TargetTypesConst.custom ? [] : {};
            }
        }
    }
</script>

<style scoped lang="scss">
    .icon-block {
        font-size: 28px;
    }
</style>
