<template>
    <div>
        <b-alert show variant="primary"
                 class="text-uppercase text-left py-1">
            {{title}}
        </b-alert>
        <octo-input class="mt-3"
                    label="tag"
                    name="tag"
                    v-model="tag"/>
    </div>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import PageLangContent from "../../models/pageLangContent";

    export default {
        name: "BlockEntityTargetTag",
        components: {OctoInput},
        data() {
            return {
                tag: '',
                localContent: PageLangContent,
            }
        },
        props: {
            title: {
                type: String,
                default: ''
            },
            content: {
                type: Object,
                default: () => PageLangContent
            }
        },
        mounted() {
            this.localContent = this.$_.cloneDeep(this.content);
            this.tag = this.localContent.targets.values.tag || '';
        },
        methods: {
            getTargetsValue: function () {
                this.localContent.targets.values = {tag: this.tag };
                return this.localContent.targets.values;
            }
        }
    }
</script>

<style scoped>

</style>
