<template>
    <div>
        <b-alert show variant="warning">Blocchi Entità</b-alert>
        <block-entity-datatable
            :key="blockEntityDatatableKey"
            @onOpenBlockEntity="openSidebarBlock"/>
        <octo-sidebar-right
            :show-sidebar="showSidebar"
            :title="titleSidebar"
            @onHidden="showSidebar = false">
            <block-entity-settings :key="blockEntitySettingsKey"
                                   :block-entity="currentBlockEntity"
                                   ref="blockEntitySettings"
                                   @onSaveBlock="saveBlock"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../../routes";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import BlockEntityDatatable from "../../datatables/BlockEntityDatatable";
    import BlockEntitySettings from "../../components/BlockEntitySettings";
    import BlockEntity from "../../models/blockEntity";

    export default {
        name: "BlockEntityMain",
        components: {OctoSidebarRight, BlockEntitySettings, BlockEntityDatatable},
        data() {
            return {
                showSidebar: false,
                titleSidebar: 'Nuovo',
                currentBlockEntity: this.$_.cloneDeep(BlockEntity),
                blockEntityDatatableKey: 1,
                blockEntitySettingsKey: 1
            }
        },
        mounted() {

        },
        methods: {
            showNewBlockSidebar: function () {
                this.titleSidebar = 'Nuovo blocco';
                this.currentBlockEntity = this.$_.cloneDeep(BlockEntity);
                this.showSidebar = true;
                this.blockEntitySettingsKey++;
            },
            openSidebarBlock: function (item) {
                this.titleSidebar = item.blade;
                this.currentBlockEntity = this.$_.cloneDeep(item);
                this.showSidebar = true;
                this.blockEntitySettingsKey++;
            },
            saveBlock: function (item) {
                if (this.$refs.blockEntitySettings.validate()) {
                    this.$fullLoading.show();
                    this.$api.post(routes.BLOCK_ENTITY_STORE, item)
                        .then(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Entity Block salvato correttamente', {
                                title: 'Saving...',
                                variant: 'success'
                            });
                            this.blockEntityDatatableKey++;
                            this.showSidebar = false;
                        })
                        .catch((err) => {
                            this.$fullLoading.hide();
                            this.$errorMessageHandler.display(err);
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
