<template>
    <octo-modal :visible="showModal"
                :title="title"
                title-icon="server"
                size="lg"
                :buttons="buttons"
                @onAddBlockEntityIds="$emit('onAddBlockEntityIds', selectedIds)">
        <b-container fluid>
            <b-row>
                <b-col cols="12">
                    <b-row>
                        <b-col cols="12" md="6"
                               v-for="(item, index) in blockEntityIds" v-bind:key="index"
                        >
                            <b-card no-body class="p-2 mb-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div>{{item.name}}</div>
                                        <div v-if="item.description" class="small">{{item.description}}</div>
                                    </div>
                                    <div class="ml-auto">
                                        <b-form-checkbox
                                            v-model="checkedIds[item.id]"
                                            @input="selectBlockEntityId($event, item)"
                                            :name="`checkIds-${item.id}`" switch/>
                                    </div>
                                </div>

                            </b-card>
                        </b-col>
                    </b-row>
                    <div class="d-flex justify-content-center">
                        <b-pagination
                            size="sm"
                            class="mb-0"
                            v-model="currentPage"
                            :total-rows="totalRows"
                            :per-page="rowsInPage"
                            @input="loadEntityIds"
                        />
                    </div>

                </b-col>
            </b-row>
        </b-container>
    </octo-modal>
</template>

<script>

    import OctoModal from "@octoCmsComponents/octo-modal/OctoModal";
    import {routes} from "../../routes";

    export default {
        name: "ModalBlockEntityIds",
        components: {OctoModal},
        data() {
            return {
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onAddBlockEntityIds',
                        variant: 'primary'
                    }
                ],
                currentPage: 1,
                rowsInPage: 18,
                totalRows: 0,
                blockEntityIds: [],
                checkedIds: [],
                selectedIds: []
            }
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            excludedIds: {
                type: Array,
                default: () => []
            },
            title: {
                type: String,
                default: 'Entity'
            },
            entity: {
                type: String,
                require: true
            }
        },
        mounted() {

            this.loadEntityIds();
        },

        methods: {
            loadEntityIds: function () {
                let pathIds = '';
                switch (this.entity) {
                    case 'Service':
                        pathIds = routes.BLOCK_ENTITY_IDS_SERVICES;
                        break;
                    case 'Testimonial':
                        pathIds = routes.BLOCK_ENTITY_IDS_TESTIMONIALS;
                        break;
                    case 'News':
                        pathIds = routes.BLOCK_ENTITY_IDS_NEWS;
                        break;
                    case 'Products':
                        pathIds = routes.BLOCK_ENTITY_IDS_PRODUCTS;
                        break;
                    case 'Slide':
                        pathIds = routes.BLOCK_ENTITY_IDS_SLIDES;
                        break;
                    case 'Page':
                        pathIds = routes.BLOCK_ENTITY_IDS_PAGES;
                        break;
                    default:
                        return false;
                }

                this.$api.post(pathIds, {
                    excludedIds: this.excludedIds,
                    currentPage: this.currentPage,
                    rowsInPage: this.rowsInPage
                })
                    .then((resp) => {
                        this.blockEntityIds = resp.data.collection;
                        this.totalRows = resp.data.total;
                    })
                    .catch(() => {
                        this.$bvToast.toast('Problemi nel carimento dei dati', {
                            title: 'Loading...',
                            variant: 'danger'
                        });
                    })
            },
            selectBlockEntityId: function (checked, item) {
                if (checked) {
                    this.selectedIds.push(item);
                } else {
                    this.$_.remove(this.selectedIds, (selectedId) => {
                        return selectedId.id === item.id
                    })
                }
            },

        }
    }
</script>

<style scoped lang="scss">

    .img-container {
        height: 214px;
    }

    .img-selected {
        max-width: 100%;
        max-height: 200px;
        object-fit: contain;
    }

    .img-repo {
        height: 60px;
        width: auto;
    }

    .bg-draggable {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
