<template>
    <b-card no-body>
        <b-tabs card fill class="mb-0">
            <b-tab title="HTML">
                <b-card-text>
                    <div v-if="blockHtml && blockHtml.length">
                        <draggable
                            :list="blockHtml"
                            :group="{ name: 'pageContent', pull: 'clone', put: false }"
                            :clone="addBlockHtml"
                            :sort="false"
                            class="d-flex flex-wrap"
                        >
                            <b-col cols="6"
                                   class="mb-3"
                                   v-for="(item, index) in blockHtml" v-bind:key="index">
                                <div class="mb-2 text-center small text-uppercase text-primary">
                                    {{ item.blade }}
                                </div>
                                <img :src="item.src"
                                     class="img-thumbnail"
                                     :alt="item.blade"
                                />
                            </b-col>
                        </draggable>
                    </div>
                    <div v-else>
                        <b-alert show variant="warning" class="mb-0">No Block HTML</b-alert>
                    </div>
                </b-card-text>
            </b-tab>
            <b-tab title="Entity">
                <b-card-text>
                    <div v-if="blockEntities && blockEntities.length">
                        <draggable
                            :list="blockEntities"
                            :group="{ name: 'pageContent', pull: 'clone', put: false }"
                            :clone="addBlockEntity"
                            :sort="false"
                            class="d-flex flex-wrap"
                        >
                            <b-col cols="6"
                                   class="mb-3"
                                   v-for="(item, index) in blockEntities" v-bind:key="index">
                                <div class="mb-2 text-center small text-uppercase text-primary">
                                    {{ item.blade }}
                                </div>
                                <img :src="item.src"
                                     class="img-thumbnail"
                                     :alt="item.blade"
                                />
                            </b-col>
                        </draggable>
                    </div>
                    <div v-else>
                        <b-alert show variant="warning" class="mb-0">No Block Entities</b-alert>
                    </div>
                </b-card-text>
            </b-tab>
        </b-tabs>
    </b-card>
</template>

<script>

    import PageLangContent from "../../models/pageLangContent";
    import contentTypeConst from "../../resources/contentTypeConst";
    import draggable from '@adminNodeModules/vuedraggable';

    export default {
        name: "AvailableContents",
        components: {draggable},
        data() {
            return {
                pageLangContent: PageLangContent
            }
        },
        props: {
            blockHtml: {
                type: Array,
                default: () => []
            },
            blockEntities: {
                type: Array,
                default: () => []
            },
        },
        methods: {
            addBlockHtml: function (item) {
                this.pageLangContent = this.$_.cloneDeep(PageLangContent);
                this.pageLangContent.content_id = item.id;
                this.pageLangContent.type = item;
                this.pageLangContent.content_type = contentTypeConst.BlockHtml.name;

                this.$_.each(item.settings, variable => {
                    this.pageLangContent.data.push({
                        value: null,
                        name: variable.name,
                        type: variable.type
                    })
                });

                this.$_.each(item.layout, variable => {
                    this.pageLangContent.layout.push({
                        selected: null,
                        name: variable.name,
                        type: variable.type
                    })
                });

                return this.pageLangContent;
            },

            addBlockEntity: function (item) {
                this.pageLangContent = this.$_.cloneDeep(PageLangContent);
                this.pageLangContent.content_id = item.id;
                this.pageLangContent.type = item;
                this.pageLangContent.content_type = contentTypeConst.BlockEntity.name;

                this.$_.each(item.settings, variable => {
                    this.pageLangContent.data.push({
                        value: null,
                        name: variable.name,
                        type: variable.type
                    })
                });

                this.$_.each(item.layout, variable => {
                    this.pageLangContent.layout.push({
                        selected: null,
                        name: variable.name,
                        type: variable.type
                    })
                });

                return this.pageLangContent;
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
