<template>
    <div>

        <octo-lang-selector
            title="Lingua Pagina"
            :current-lang="currentLang"
            :languages="availableLanguages"
            @onChangeLanguage="(lang) => this.currentLang = lang"/>

        <b-alert show variant="warning" class="page-lang-link text-center my-2"><a target="_blank" :href="getPageUrl">{{getPageUrl}}</a>
        </b-alert>

        <draggable v-model="currentPageLang.contents"
                   v-bind="dragOptions"
                   class="page-content"
                   group="pageContent"
                   @start="isDragging = true"
                   @end="isDragging = false"
                   @change="onChangeEvent"
        >

            <b-card no-body
                    class="mb-2 p-2 "
                    v-for="(block, blockIndex) in currentPageLang.contents" v-bind:key="blockIndex">
                <div class="d-flex align-items-center position-relative">
                    <div class="w-50 border-right pr-2">
                        <img :src="block.type.src"
                             class="img-fluid"
                             :alt="block.type.blade"
                        />
                    </div>
                    <div class="ml-2 flex-grow-1">
                        <div>Type: <span class="text-uppercase text-primary">{{block.content_type}}</span></div>
                        <div>Blade: <span class="text-uppercase text-primary">{{block.type.blade}}</span></div>
                        <div>Position: <span class="text-uppercase text-primary">{{block.position}}</span></div>
                    </div>
                    <div class="d-flex flex-column">
                        <octo-button
                            style-btn="light-button"
                            class="my-2" icon="pen"
                            @onClick="editBlock(block, blockIndex)"/>
                        <octo-button
                            style-btn="light-button"
                            class="my-2" icon="settings"
                            @onClick="editBlockLayout(block, blockIndex)"/>
                        <octo-button
                            icon="delete"
                            class="my-2"
                            style-btn="light-button-danger"
                            :confirmData="{
                                        title: 'Conferma Eliminazione',
                                        message: 'Vuoi eliminare il contenuto?'
                                     }"
                            @onClick="deleteBlock(block)"/>
                    </div>
                </div>
            </b-card>

        </draggable>
        <octo-sidebar-right
            @onHidden="showBlockSidebar = false"
            :title="titleBlockSidebar"
            :show-sidebar="showBlockSidebar"
            :buttons="sidebarButtons"
            @onUpdateBlock="onUpdateBlock"
        >
            <component
                ref="sidebarComponentRef"
                :key="sidebarComponentKey"
                :is="sidebarComponent"
                :content="currentBlock"
            />
        </octo-sidebar-right>
        <octo-sidebar-right
            @onHidden="showBlockLayoutSidebar = false"
            title="layout"
            :show-sidebar="showBlockLayoutSidebar"
            :buttons="sidebarLayoutButtons"
            @onUpdateBlockLayout="onUpdateBlockLayout"
        >
            <block-layout-composer ref="blockLayoutComposer"
                                   :content="currentBlock"
                                   :key="blockLayoutComposerKey"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import PageLang from "../../models/pageLang";
    import draggable from '@adminNodeModules/vuedraggable';
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import BlockEntityComposer from "../BlockEntity/BlockEntityComposer";
    import BlockHtmlComposer from "../BlockHtml/BlockHtmlComposer";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import BlockLayoutComposer from "../BlockLayout/BlockLayoutComposer";

    export default {
        name: "PageContents",
        components: {BlockLayoutComposer, OctoIcon, OctoSidebarRight, OctoButton, OctoLangSelector, draggable},
        data() {
            return {
                currentLang: '',
                pageLangLocals: [],
                currentPageLang: PageLang,
                showBlockSidebar: false,
                titleBlockSidebar: '',
                sidebarButtons: [
                    {
                        label: 'ok',
                        onClick: 'onUpdateBlock',
                        icon: 'tick',
                    }
                ],
                sidebarComponentKey: 1,
                sidebarComponent: null,
                currentBlock: null,
                currentBlockIndex: null,
                blockLayoutComposerKey: 1,
                showBlockLayoutSidebar: false,
                sidebarLayoutButtons: [
                    {
                        label: 'ok',
                        onClick: 'onUpdateBlockLayout',
                        icon: 'tick',
                    }
                ],
            }
        },
        props: {
            pageLangs: {
                type: Array,
                default: () => []
            },
            pageId: {
                type: [Number, String],
                default: 0
            },
        },
        computed: {

            getPageUrl: function () {
                return process.env.MIX_BASE_URL + "/" + (this.currentLang === this.$localStorage.getSettings().locale ? this.currentPageLang.url : this.currentLang + "/" + this.currentPageLang.url);
            },
            availableLanguages: function () {
                return Object.keys(this.$_.keyBy(this.pageLangLocals, (item) => {
                    return item.lang
                }));
            },
            dragOptions() {
                return {
                    animation: 0,
                    disabled: false,
                    ghostClass: "ghost"
                };
            }
        },
        watch: {
            currentLang: function (newVal) {
                const currentPageLang = this.$_.filter(this.pageLangLocals, (item) => {
                    return item.lang === newVal;
                });
                this.currentPageLang = currentPageLang && currentPageLang[0] ? currentPageLang[0] : PageLang;
            }
        },

        mounted() {
            this.currentLang = this.$localStorage.getSettings().locale;
            this.pageLangLocals = this.$_.cloneDeep(this.pageLangs);
            this.currentPageLang = this.$_.find(this.pageLangLocals, (item) => {
                return item.lang === this.currentLang;
            });
        },
        methods: {
            onChangeEvent: function (event) {
                if (event && event.added) {
                    event.added.element.page_lang_id = this.currentPageLang.id;
                }
                this.onChangeBlockOrder();

            },

            editBlock: function (block, index) {
                this.currentBlockIndex = index;
                this.currentBlock = block;
                switch (block.content_type) {
                    case 'BlockEntity':
                        this.titleBlockSidebar = 'Block Entity';
                        this.sidebarComponent = BlockEntityComposer;
                        break;
                    case 'BlockHtml':
                        this.titleBlockSidebar = 'Block HTML';
                        this.sidebarComponent = BlockHtmlComposer;
                        break;
                    default:
                        this.titleBlockSidebar = 'Titolo Sidebar';
                        this.sidebarComponent = null;
                        break;
                }
                this.sidebarComponentKey++;
                this.showBlockSidebar = true;
            },

            deleteBlock: function (item) {
                this.$set(this.currentPageLang, 'contents', this.$_.filter(this.currentPageLang.contents, (content) => {
                    return content.position !== item.position
                }));
            },

            onUpdateBlock: function () {
                this.$set(
                    this.currentPageLang.contents,
                    this.currentBlockIndex,
                    this.$refs.sidebarComponentRef.getLocalContent()
                );
                this.showBlockSidebar = false;
            },

            onUpdateBlockLayout: function () {
                this.$set(
                    this.currentPageLang.contents,
                    this.currentBlockIndex,
                    this.$refs.blockLayoutComposer.getLocalContent()
                );
                this.showBlockLayoutSidebar = false;
            },

            editBlockLayout: function (block, index) {
                this.currentBlockIndex = index;
                this.currentBlock = block;
                this.blockLayoutComposerKey++;
                this.showBlockLayoutSidebar = true;
            },

            getPageLangLocals: function () {
                return this.pageLangLocals;
            },

            onChangeBlockOrder: function () {
                this.$_.forEach(this.currentPageLang.contents, (item, index) => {
                    this.$set(item, 'position', index);
                });
            },
        }
    }
</script>

<style scoped lang="scss">

    .page-lang-link {
        a {
            color: inherit;
        }
    }

    .page-content {
        min-height: 400px;
    }

    .flip-list-move {
        transition: transform 0.5s;
    }

    .no-move {
        transition: transform 0s;
    }

    .ghost {
        opacity: 0.5;
        background: #c8ebfb;
    }

</style>
