<template>
    <b-card no-body class="p-2">
        <b-alert show variant="primary" class="text-uppercase">
            Menu items
        </b-alert>

        <draggable
            class="d-flex justify-content-center"
            :list="menuItemsArray"
            :group="{ name: 'people', pull: 'clone', put: false }"
            :clone="cloneMenuItem"
            :sort="false"
        >
            <b-card no-body
                    v-for="(item, index) in menuItemsArray" v-bind:key="index"
                    class="p-2 mx-2 flex-grow-1"
            >
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <octo-icon
                        class="title"
                        :class="`text-${item.variant}`"
                        :icon="item.icon"/>
                    <div class="mt-2 text-center">
                        {{ item.label }}
                    </div>
                </div>
            </b-card>
        </draggable>
    </b-card>
</template>

<script>
import MENUITEMS_CONST from "../../resources/menuItemsConst";
import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
import draggable from '@adminNodeModules/vuedraggable';
import MenuItem from "../../models/menuItem";

export default {
    name: "AvailableMenuItems",
    components: {OctoIcon, draggable},
    data() {
        return {
            menuItems: MENUITEMS_CONST,
            menuItemsArray: []
        }
    },
    mounted() {
        const modules = this.$localStorage.get('modules');
        this.menuItemsArray = this.$_.filter(this.menuItems, (item) => {
            return modules.includes(item.module)
        });
    },
    methods: {
        cloneMenuItem: function (menuItem) {
            const item = this.$_.cloneDeep(MenuItem);
            item.type = menuItem.type;
            item.const = menuItem;
            return item;
        },
    }
}
</script>

<style scoped>

</style>
