<template>
    <div>
        <div
            class="mb-2"
            v-for="(menuItemLang, index) in menuItem.menuItemLangs" v-bind:key="index">
            <octo-input
                class="input"
                :append="menuItemLang.lang"
                :name="`label-${menuItem.lang}`"
                v-model="menuItemLang.label"/>
        </div>

        <octo-input
            prepend="tag"
            name="tag"
            v-model="menuItem.data.tag"/>
    </div>
</template>

<script>
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
import MenuItem from "../../models/menuItem";

export default {
    name: "MenuItemCategoryProductTag",
    components: {OctoInput},
    data() {
        return {
            externalLink: '',
            currentLang: '',
        }
    },
    props: {
        menuItem: {
            type: Object,
            default: () => MenuItem
        }
    },

    mounted() {

        this.$completeLangs(
            this.menuItem.menuItemLangs,
            { lang: '', label: ''},
            '',
            ''
        );

        /*this.$_.each(this.settings.languages, language => {
            if (!this.$_.find(this.menuItem.menuItemLangs, (item) => {
                return item.lang === language;
            })) {
                this.menuItem.menuItemLangs.push({
                    lang: language,
                    label: ''
                });
            }
        });*/

    },
}
</script>

<style scoped>

</style>
