<template>
    <div>
        <div
            class="mb-2"
            v-for="(menuItemLang, index) in menuItem.menuItemLangs" v-bind:key="index">
                <octo-input
                    class="input"
                    :append="menuItemLang.lang"
                    :name="`label-${menuItem.lang}`"
                    v-model="menuItemLang.label"/>
        </div>

        <octo-input
            prepend="Link"
            name="link-external"
            v-model="menuItem.data.link"/>
    </div>

</template>

<script>
import MenuItem from "../../models/menuItem";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

export default {
    name: "MenuItemExternal",
    components: {OctoInput},
    data() {
        return {
            externalLink: '',
            currentLang: '',
        }
    },
    props: {
        menuItem: {
            type: Object,
            default: () => MenuItem
        }
    },


    mounted() {


        this.$completeLangs(
            this.menuItem.menuItemLangs,
            { lang: '', label: ''},
            '',
            ''
        );

    },
}
</script>

<style scoped lang="scss">


</style>
