<template>
    <div>
        <div
            class="mb-2"
            v-for="(menuItemLang, index) in menuItem.menuItemLangs" v-bind:key="index">
            <octo-input
                class="input"
                :append="menuItemLang.lang"
                :name="`label-${menuItem.lang}`"
                v-model="menuItemLang.label"/>
        </div>
    </div>

</template>

<script>
import MenuItem from "../../models/menuItem";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

export default {
    name: "MenuItemParent",
    components: {OctoInput},
    data() {
        return {
            menuItemLocal: MenuItem,
        }
    },
    props: {
        menuItem: {
            type: Object,
            default: () => MenuItem
        },
    },

    mounted() {
        this.menuItemLocal = this.$_.cloneDeep(this.menuItem);

        this.$completeLangs(
            this.menuItem.menuItemLangs,
            { lang: '', label: ''},
            '',
            ''
        );
    }
}
</script>

<style scoped>

</style>
