<template>
    <div class="d-flex">
        <div class="flex-grow-1" v-for="(items, level) in levelItems" v-bind:key="level">
            <div class="p-2 mr-2"
                 :ref="`levelItem-${level}`"
                 v-show="levelParents[level]">
                <b-alert show variant="success" class="text-uppercase">
                    Livello {{ level }}
                </b-alert>
                <draggable
                    class="menuitem-contents list-group list-group-flush"
                    v-model="levelItems[level]"
                    group="people"
                    @change="(event) => changeLevelItems(event, level)"
                >
                    <b-list-group-item
                        class="p-2 bg-transparent"
                        v-for="(item, index) in items" v-bind:key="index">

                        <div
                            :class="`text-${item.const ? item.const.variant : 'N.D.'}`"
                            class="p-2 d-flex justify-content-between align-items-center">
                            <div class="text-uppercase">
                                {{ item.const ? item.const.label : 'N.D.' }}
                            </div>
                            <octo-icon :icon="item.const ? item.const.icon : 'N.D.'"/>
                        </div>
                        <div>
                            <component
                                :is="(item.const && item.const.component)
                                ? $_.cloneDeep(item.const.component)
                                : null"
                                :menu-item="item"
                            />
                            <div class="d-flex justify-content-end mt-2">
                                <div v-if="item.type === 'parent' && level !== 'third'"
                                     v-on:click="openDeepLevel(item, level)"
                                     :ref="`openDeepLevel-${item.uuid}`"
                                     class="text-primary text-uppercase">
                                    {{ item.id ? 'Apri sotto livello' : 'Salva per aprire sottolivello' }}
                                </div>
                                <div v-on:click="removeMenuItem(item.uuid, level)"
                                     class="ml-3 text-uppercase text-danger">
                                    Elimina
                                </div>
                            </div>
                        </div>

                    </b-list-group-item>
                </draggable>

            </div>
        </div>

    </div>
</template>

<script>

import draggable from '@adminNodeModules/vuedraggable';
import MENUITEMS_CONST from "../../resources/menuItemsConst";
import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";

export default {
    name: "MenuContents",
    components: {
        OctoIcon,
        draggable
    },
    props: {
        menuItems: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            levelItems: {
                first: [],
                second: [],
                third: []
            },
            levelParents: {
                first: true,
                second: null,
                third: null
            },


            menuItemConst: MENUITEMS_CONST,
        }
    },
    methods: {

        changeLevelItems: function (event, level) {

            switch (level) {

                case 'first':
                    this.checkToAddItemToMenuItems(event, null)
                    this.reorderItems(this.levelItems.first);
                    break;

                case 'second':
                    this.checkToAddItemToMenuItems(event, this.levelParents.second)
                    this.reorderItems(this.levelItems.second);
                    break;

                case 'third':
                    this.checkToAddItemToMenuItems(event, this.levelParents.third)
                    this.reorderItems(this.levelItems.third);
                    break;
            }

        },

        checkToAddItemToMenuItems(event, parentId) {

            if (event && event.added) {
                event.added.element.parent_id = parentId;
                if (!event.added.element.uuid) {
                    event.added.element.uuid = this.$uuid.v1()
                    this.menuItems.push(event.added.element);
                }

            }
        },

        reorderItems: function (items) {
            this.$_.forEach(items, (item, index) => {
                this.$set(item, 'order', index);
            });
        },

        getElementItemsParent: function (parentId) {
            return this.$_.orderBy(this.$_.filter(this.menuItems, (item) => {
                return parentId ? item.parent_id === parentId : !item.parent_id;
            }), 'order');
        },

        openDeepLevel: function (item, level) {

            switch (level) {
                case 'first':

                    this.$set(this.levelParents, 'second', item.id);
                    this.$set(this.levelItems, 'second', this.getElementItemsParent(this.levelParents.second));

                    this.$set(this.levelParents, 'third', null);
                    this.$set(this.levelItems, 'third', []);

                    break;

                case 'second':

                    this.$set(this.levelParents, 'third', item.id);
                    this.$set(this.levelItems, 'third', this.getElementItemsParent(this.levelParents.third));

                    break;
            }

        },

        removeMenuItem: function (uuid, level) {
            this.$bvModal.msgBoxConfirm(
                'Sei sicuro di voler eliminare il menu item ?',
                {
                    title: 'Conferma azione',
                    size: 'sm',
                    buttonSize: 'sm',
                    okVariant: 'primary',
                    cancelVariant: 'dark',
                    okTitle: 'SI',
                    cancelTitle: 'NO',
                    footerClass: 'p-1',
                    headerClass: 'py-1 px-2',
                    hideHeaderClose: true,
                    noCloseOnBackdrop: true,
                    noCloseOnEsc: true,
                    centered: true
                })
                .then(value => {
                    if (value) {

                        this.menuItems.splice(this.$_.findIndex(this.menuItems, (item) => {
                            return item.uuid === uuid
                        }), 1);

                        switch (level) {
                            case 'first':
                                this.$set(this.levelItems, 'first', this.getElementItemsParent(null));
                                this.reorderItems(this.levelItems.first);
                                break;
                            case 'second':
                                this.$set(this.levelItems, 'second', this.getElementItemsParent(this.levelParents.second));
                                this.reorderItems(this.levelItems.second);
                                break;
                            case 'third':
                                this.$set(this.levelItems, 'third', this.getElementItemsParent(this.levelParents.third));
                                this.reorderItems(this.levelItems.third);
                                break;
                        }

                    }
                })

        }

    },

    mounted() {

        this.$_.each(this.menuItems, (item) => {
            item.const = this.$_.find(this.menuItemConst, (itemConst) => {
                return itemConst.type === item.type;
            })
            item.uuid = this.$uuid.v1()
        })

        this.$set(this.levelItems, 'first', this.getElementItemsParent(null));


    }
}
</script>

<style scoped lang="scss">
.menuitem-contents {
    min-height: 300px;
}
</style>
