<template>
    <div>
        <div
            class="mb-2"
            v-for="(menuItemLang, index) in menuItem.menuItemLangs" v-bind:key="index">
            <octo-input
                :append="menuItemLang.lang"
                :name="`label-${menuItem.lang}`"
                v-model="menuItemLang.label"/>
        </div>
        <div class="d-flex align-items-end">
            <octo-select-async
                class="flex-grow-1"
                label="Root"
                v-model="menuItem.data.root"
                :async-find-action="routes.SELECT.categoriesNews"/>
        </div>

    </div>
</template>

<script>
import OctoSelectAsync from "@octoCmsComponents/octo-select-async/OctoSelectAsync";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
import {routes} from "../../routes";
import MenuItem from "../../models/menuItem";

export default {
    name: "MenuItemCategoryBlog",
    components: {OctoSelectAsync, OctoInput},
    data() {
        return {
            pageToLink: '',
            routes: routes,
            data: {}
        }
    },
    props: {
        menuItem: {
            type: Object,
            default: () => MenuItem
        },
    },

    mounted() {

        this.$completeLangs(
            this.menuItem.menuItemLangs,
            { lang: '', label: ''},
            '',
            ''
        );

        // this.$_.each(this.settings.languages, language => {
        //     if (!this.$_.find(this.menuItem.menuItemLangs, (item) => {
        //         return item.lang === language;
        //     })) {
        //         this.menuItem.menuItemLangs.push({
        //             lang: language,
        //             label: ''
        //         });
        //     }
        // });
    },
    methods: {}
}
</script>

<style scoped>

</style>
