<template>
    <div class="p-2">
        <octo-input icon="edit"
                    v-model="menu.name"
                    name="name"
                    label="Nome"
                    :error="errors.name"
                    @input="errors.name = false"/>

        <octo-input icon="edit"
                    class="mt-3"
                    v-model="menu.blade"
                    name="blade"
                    label="Blade"
                    :error="errors.blade"
                    @input="errors.blade = false"/>

        <b-alert
            show
            class="text-uppercase py-1 mt-3">
            title
        </b-alert>
        <div class="mt-3"
               v-for="(item, index) in menu.menuLangs" v-bind:key="index">
            <octo-input
                :append="item.lang"
                v-model="item.title"
                class="mt-3"
                :name="`title-${index}`"/>
        </div>

    </div>
</template>

<script>
import Menu from "../../models/menu";
import MenuLang from "../../models/menuLang";
import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

export default {
    name: "NewMenuSidebar",
    components: {OctoInput},
    data() {
        return {
            menu: Menu,
            errors: {}
        }
    },
    mounted() {
        this.menu = this.$_.cloneDeep(Menu);
        this.$completeLangs(
            this.menu.menuLangs,
            MenuLang,
            this.menu.id,
            'menu_id'
        );
    },
    methods: {
        getMenu: function () {
            return this.menu;
        },
        validate() {
            this.errors = {};

            if (this.menu.blade === '') {
                this.errors.blade = true;
            }

            if (this.menu.name === '') {
                this.errors.name = true;
            }

            return this.$_.isEmpty(this.errors);
        }
    }
}
</script>

<style scoped>

</style>
