<template>
    <div>
        <b-container fluid>
            <b-row>
                <b-col cols="12" class="mb-3">
                    Gestisci i contenuti riguardo a questa pagina.
                </b-col>
            </b-row>
            <b-row class="mb-3 align-items-center">
                <b-col cols="12">
                    <octo-input
                        label="Name"
                        name="name"
                        v-model="pageLocal.name"
                        :error="errors.name"
                        @input="errors.name = false"
                    />
                </b-col>
            </b-row>
            <b-alert show variant="primary" class="d-flex justify-content-between align-items-center">
                <div>Page Type</div>
                <div class="text-uppercase text-primary">{{pageLocal.type}}</div>
            </b-alert>
            <b-row class="mb-4">
                <b-col cols="12">
                    <octo-image-entity
                        :picture="getPictureLocal('main')"
                        tag="main"
                        :key="octoImageEntityKey"
                        @onSaveImage="saveImage"
                    ></octo-image-entity>
                </b-col>
            </b-row>

            <b-row class="mb-3">
                <b-col cols="6">
                    <b-card no-body class="px-1 py-2  mb-2">
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="text-uppercase mr-3">
                                Published
                            </div>
                            <b-form-checkbox v-model="pageLocal.published" name="published" switch/>
                        </div>
                    </b-card>

                    <b-card no-body class="px-1 py-2 mb-2">
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="text-uppercase mr-3">
                                Sitemap
                            </div>
                            <b-form-checkbox v-model="pageLocal.sitemap" name="sitemap" switch/>
                        </div>
                    </b-card>

                </b-col>
                <b-col cols="6">

                    <b-card no-body class="px-1 py-2  mb-2">
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="text-uppercase flex-nowrap">
                                Priority
                            </div>
                            <b-form-input type="range" step="0.1" min="0" max="1" class="mx-2"
                                          v-model="pageLocal.sitemap_priority"></b-form-input>
                            <div class="small">
                                {{pageLocal.sitemap_priority}}
                            </div>
                        </div>
                    </b-card>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>Freq.</div>
                        <octo-select name="change_freq"
                                     :value="{}"
                                     :options="pageChangeFrequencyOptions"
                                     v-model="pageLocal.change_freq"/>
                    </div>

                </b-col>
            </b-row>
        </b-container>
        <page-lang-form :page-langs="pageLocal.pageLangs"/>
    </div>

</template>

<script>
    import Page from "../models/page";
    import PageLang from "../models/pageLang";
    import Picture from "../../../../Admin/Resources/octo-cms-components/models/picture";
    import PageChangeFrequencyOptions from "../resources/pageChangeFrequencyOptions";
    import PageLangForm from "./PageLangForm";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
    import OctoSelect from "@octoCmsComponents/octo-select/OctoSelect";

    export default {
        name: "PageForm",
        components: {OctoImageEntity, OctoSelect, PageLangForm, OctoInput},
        data() {
            return {
                pageLocal: Page,
                pageChangeFrequencyOptions: PageChangeFrequencyOptions,
                errors: {},
                octoImageEntityKey: 1,
            }
        },
        props: {
            page: {
                type: Object,
                default: () => Page
            },
        },
        methods: {
            saveImage(item) {

                const pictureIndex = this.$_.findIndex(this.pageLocal.pictures, (picture) => {
                    return picture.tag === item.tag
                });

                if (pictureIndex !== -1) {
                    this.$set(this.pageLocal.pictures, pictureIndex, item);
                } else {
                    this.pageLocal.pictures.push(item);
                }

                this.octoImageEntityKey++;

            },

            getPictureLocal(tag) {
                const picture = this.$_.find(this.pageLocal.pictures, (picture) => {
                    return picture.tag === tag
                });

                return picture ? picture : this.$_.cloneDeep(Picture);
            },

            validate() {
                this.errors = {};

                if (this.pageLocal.name === '') {
                    this.errors.name = true;
                }

                return this.$_.isEmpty(this.errors);
            },
        },
        mounted() {
            this.pageLocal = this.page;

            this.$_.each(this.$localStorage.getLanguages(), language => {
                if (!this.$_.find(this.pageLocal.pageLangs, (item) => {
                    return item.lang === language;
                })) {
                    const itemLang = this.$_.cloneDeep(PageLang);
                    itemLang.lang = language;
                    itemLang.page_id = this.pageLocal.id;
                    this.pageLocal.pageLangs.push(itemLang);
                }
            });

            this.octoImageEntityKey++;
        }
    }
</script>

<style scoped>

</style>
