<template>
    <div class="p-2">
        <div class="mb-2">Gestisci i contenuti riguardo a questa redirect</div>
        <octo-input
            class="mb-2"
            label="Old URL"
            name="old_url"
            v-model="pageRedirectLocal.old_url"
            :error="errors.old_url"
            @input="errors.old_url = false"
        />
        <octo-input
            class="mb-2"
            label="Cerca page lang"
            name="searchPageLang"
            v-model="fields.query"
            :error="errors.query"
            @input="errors.query = false"
        />
        <octo-button
            class="my-3 mx-2"
            label="Cerca"
            @onClick="searchPageLangs()"
            icon="search"
        />
        <div class="pagelang-container">
            <b-card no-body class="w-100 mb-3 p-2 d-flex flex-row justify-content-around align-items-center"
                    v-for="(item, index) in pageLangs" v-bind:key="index">
                <b-form-radio v-model="pageRedirectLocal.page_lang_id" :value="item.id" name="currentPageLang" size="lg"/>
                <div>{{item.url}}</div>
                <div>{{item.meta_title}}</div>
                <div class="border rounded mr-2 py-2 text-center text-uppercase labelLangWidth">
                    {{item.lang}}
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import PageRedirect from "../models/pageRedirect";
    import PageLang from "../models/pageLang";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";

    export default {
        name: "PageRedirectForm",
        components: {OctoInput, OctoButton},
        data() {
            return {
                pageRedirectLocal: PageRedirect,
                pageLangs: [],
                currentPageLang: PageLang,
                fields: {
                    query: '',
                },
                errors: {}
            }
        },
        props: {
            pageRedirect: {
                type: Object,
                default: () => PageRedirect
            },
        },
        mounted() {
            this.pageRedirectLocal = this.pageRedirect;
        },
        methods: {
            searchPageLangs() {
                this.errors = {};

                if (this.fields.query === '') {
                    this.errors.query = true;
                } else {
                    this.$fullLoading.show();
                    this.$api.post(routes.PAGES_LANG_SEARCH, this.fields)
                        .then((resp) => {
                            this.pageLangs = resp.data.data;
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Ricerca eseguita', {
                                title: 'Searching...',
                                variant: 'success'
                            });
                        })
                        .catch(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Ricerca non eseguita correttamente', {
                                title: 'Searching...',
                                variant: 'danger'
                            });
                        })
                }
            },
            validate() {
                this.errors = {};

                if (this.pageRedirectLocal.old_url === '') {
                    this.errors.old_url = true;
                }

                return this.$_.isEmpty(this.errors);
            }
        },
    }
</script>

<style scoped lang="scss">
    .labelLangWidth {
        width: 36px;
    }

    .pagelang-container {
        height: 250px;
    }
</style>
