<template>
    <b-container fluid>
        <b-row>
            <b-col cols="12">
                <octo-lang-selector :current-lang="currentLang" @onChangeLanguage="changeLanguage"/>
            </b-col>
        </b-row>
        <div v-for="(pageLang, index) in pageLangs" v-bind:key="index">
            <b-row v-if="currentLang === pageLang.lang">
                <b-col cols="12" class="d-flex align-items-end mb-3">
                    <octo-input class="flex-grow-1"
                                label="Url"
                                name="url"
                                v-model="pageLang.url"/>
                </b-col>
                <b-col cols="12" md="12">
                    <octo-input class="mb-3"
                                label="Meta Title"
                                name="meta_title"
                                v-model="pageLang.meta_title"/>
                </b-col>
                <b-col cols="12">
                    <octo-text-area class="mb-3"
                                    label="Meta Description"
                                    name="meta_description"
                                    v-model="pageLang.meta_description"/>
                </b-col>
            </b-row>
        </div>
    </b-container>

</template>

<script>
    import templateConst from "../resources/templateConst";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";

    export default {
        name: "PageLangForm",
        components: {OctoTextArea, OctoLangSelector, OctoInput},
        data() {
            return {
                templates: templateConst,
                currentLang: '',
            }
        },
        props: {
            pageLangs: {
                type: Array,
                default: () => []
            },
        },
        computed: {
            templateSelectOptions: function () {
                const options = [];
                for (const i in this.templates) {
                    options.push({
                        text: this.templates[i].label,
                        value: this.templates[i].value
                    })
                }
                return options;
            }
        },
        methods: {
            changeLanguage(language) {
                this.currentLang = language;
            },
        },
        mounted() {
            this.changeLanguage(this.$localStorage.getSettings().locale);
        },
    }
</script>

<style scoped>

</style>
