<template>
    <b-container fluid>
        <b-row>
            <b-col cols="6">
                <b-container fluid>
                    <b-row class="mb-3">
                        <b-col cols="12">
                            Logo
                            <octo-image-html :picture="localSettings.fe_logo"
                                             @onSaveImage="(imageData) => this.localSettings.fe_logo = imageData"/>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12">
                            Favicon
                            <octo-image-html :picture="localSettings.fe_favicon"
                                             @onSaveImage="(imageData) => this.localSettings.fe_favicon = imageData"/>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12">
                            <octo-lang-selector :current-lang="currentLang"
                                                :languages="localSettings.fe_available_languages"
                                                @onChangeLanguage="changeLanguage"/>
                            <div v-for="(item, index) in localSettings.fe_title" v-bind:key="`title-${index}`">
                                <div v-if="currentLang === item.lang">
                                    <octo-input label="title"
                                                :name="`title-${index}`"
                                                v-model="item.value"/>
                                </div>
                            </div>
                            <div v-for="(item, index) in localSettings.fe_description"
                                 v-bind:key="`description-${index}`">
                                <div v-if="currentLang === item.lang">
                                    <octo-text-area label="description"
                                                    :rows="2"
                                                    :name="`description-${index}`"
                                                    v-model="item.value"/>
                                </div>
                            </div>
                            <div v-for="(item, index) in localSettings.fe_address" v-bind:key="`address-${index}`">
                                <div v-if="currentLang === item.lang">
                                    <octo-text-area label="address"
                                                    :rows="2"
                                                    :name="`address-${index}`"
                                                    v-model="item.value"/>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="6">
                <b-container fluid>
                    <b-row class="mb-3">
                        <b-col cols="6">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                main language
                            </b-alert>
                            <div v-for="(item, index) in localSettings.fe_available_languages"
                                 v-bind:key="`languages-${index}`">
                                <b-card no-body class="p-2 mb-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 text-uppercase">
                                            {{ item }}
                                        </div>
                                        <b-form-radio v-model="localSettings.fe_main_language"
                                                      :value="item"
                                                      :name="`main-language-${index}`"
                                        />
                                    </div>
                                </b-card>
                            </div>
                        </b-col>
                        <b-col cols="6">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                available languages
                            </b-alert>
                            <b-form-checkbox-group v-model="localSettings.fe_available_languages" switches>
                                <div v-for="(language, index) in localSettings.languages"
                                     v-bind:key="`available-lang-${index}`">
                                    <b-card no-body class="p-2 mb-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="text-uppercase flex-grow-1">{{ language }}</div>
                                            <b-form-checkbox :value="language" class="mr-auto" switch/>
                                        </div>
                                    </b-card>
                                </div>
                            </b-form-checkbox-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                Iubenda
                            </b-alert>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12" class="d-flex">
                            <b-card no-body class="flex-grow-1 p-2">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class="mr-3 mt-1 text-uppercase">enabled</div>
                                    <b-form-checkbox v-model="localSettings.fe_iubenda.enabled" switch/>
                                </div>
                            </b-card>
                            <octo-input class="flex-grow-1 ml-3"
                                        append="link"
                                        name="iubenda-link"
                                        v-model="localSettings.fe_iubenda.link"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                Analytics
                            </b-alert>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12" class="d-flex">
                            <b-card no-body class="flex-grow-1 p-2">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class="mr-3 mt-1">GTM</div>
                                    <b-form-checkbox v-model="localSettings.fe_gtm.enabled" switch/>
                                </div>
                            </b-card>

                            <octo-input class="flex-grow-1 ml-3"
                                        append="Container ID"
                                        name="container_id"
                                        v-model="localSettings.fe_gtm.container_id"/>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12" class="d-flex">
                            <b-card no-body class="flex-grow-1 p-2">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class="mr-3 mt-1">Optimize</div>
                                    <b-form-checkbox v-model="localSettings.fe_google_optimize.enabled" switch/>
                                </div>
                            </b-card>

                            <octo-input class="ml-3"
                                        append="Container ID"
                                        name="container_id"
                                        v-model="localSettings.fe_google_optimize.container_id"/>
                            <octo-input class="ml-3"
                                        append="Property ID"
                                        name="property_id"
                                        v-model="localSettings.fe_google_optimize.property_id"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                social sharing
                            </b-alert>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12"
                               class="d-flex mb-2"
                               v-for="(social, key) in localSettings.fe_social_sharing"
                               v-bind:key="key">
                            <b-card no-body class="p-1">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class="text-uppercase subtitle mr-3 ml-2">
                                        <octo-icon :icon="key"/>
                                    </div>
                                    <b-form-checkbox v-model="social.enabled" switch/>
                                </div>
                            </b-card>
                            <octo-input class="ml-3 flex-grow-1"
                                        :name="`link-${key}`"
                                        append="link"
                                        v-model="social.link"/>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import FrontendSettingsConst from "../resources/FrontendSettingsConst";
    import OctoImageHtml from "@octoCmsComponents/octo-image-html/OctoImageHtml";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
    import FrontendSettings from "../resources/frontendSettings";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";

    export default {
        name: "PageSettingForm",
        components: {OctoIcon, OctoTextArea, OctoImageHtml, OctoInput, OctoLangSelector},
        data() {
            return {
                settingsConst: FrontendSettingsConst,
                localSettings: this.$_.cloneDeep(FrontendSettings),
                currentLang: ''
            }
        },
        beforeMount() {
            this.localSettings = this.$localStorage.getSettings();
        },
        mounted() {
            this.$completeLangs(
                this.localSettings.fe_title,
                {lang: '', value: ''},
            );
            this.$completeLangs(
                this.localSettings.fe_description,
                {lang: '', value: ''},
            );
            this.$completeLangs(
                this.localSettings.fe_address,
                {lang: '', value: ''},
            );
            this.changeLanguage(this.localSettings.locale);
        },
        methods: {
            getSettings() {
                return this.$_.map(this.localSettings, (value, name) => {
                    return {
                        name: name,
                        value: value
                    }
                });
            },
            changeLanguage(language) {
                this.currentLang = language;
            },
        },
    }
</script>

<style scoped>

</style>
