<template>
    <b-container fluid>
        <b-row class="mb-2">
            <b-col cols="12">
                <octo-image-entity
                    tag="main"
                    :picture="pictureLocal"
                    :key="octoImageEntityKey"
                    @onSaveImage="saveImage"
                />
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col cols="12">
                <octo-input label="caption"
                            name="caption"
                            v-model="slide.caption"/>
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col cols="12">
                <octo-input label="sub caption"
                            name="subCaption"
                            v-model="slide.sub_caption"/>
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col cols="12">
                <octo-input label="label"
                            name="label"
                            v-model="slide.action_label"/>
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col cols="12">
                <octo-input label="link"
                            name="link"
                            v-model="slide.action_link"/>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
    import Slide from "../models/slide";
    import Picture from "../models/picture";

    export default {
        name: "SlideForm",
        components: {OctoImageEntity, OctoInput},
        data() {
            return {
                slideLocal: {},
                octoImageEntityKey: 0,
                slideFormKey: 0,
            }
        },
        props: {
            slide: {
                type: Object,
                default: () => this.$_.cloneDeep(Slide)
            },
        },
        computed: {
            pictureLocal() {
                return this.$_.find(this.slideLocal.pictures, (item) => {
                    return item.tag === 'main'
                }) || this.$_.cloneDeep(Picture);
            },
        },
        beforeMount() {
            this.slideLocal = this.slide;
        },
        methods: {
            saveImage(item) {
                const pictureIndex = this.$_.findIndex(this.slideLocal.pictures, (picture) => {
                    return picture.tag === 'main'
                });

                if (pictureIndex !== -1) {
                    this.$set(this.slideLocal.pictures, pictureIndex, item);
                } else {
                    this.slideLocal.pictures.push(item);
                }

                this.octoImageEntityKey++;
            },

            validate() {
                return true;
            }
        }
    }
</script>

<style scoped>

</style>
