<template>
    <b-card no-body>
        <b-card-body class="d-flex justify-content-between pl-3 py-2">
            <div class="text-primary">Show</div>
            <b-form-checkbox v-model="variable.selected"  name="active" switch/>
        </b-card-body>
    </b-card>
</template>

<script>
    export default {
        name: "BlockLayoutTypeBoolean",
        props: {
            variable: {
                type: Object
            },
        }
    }
</script>

<style scoped>

</style>
