<template>
    <octo-multiselect
        class="flex-grow-1"
        v-model="variable.selected"
        :name="variable.name"
        :hide-selected="false"
        :multiple="false"
        :options="options"
    />
</template>

<script>
    import OctoMultiselect from "@octoCmsComponents/octo-multi-select/OctoMultiselect";

    export default {
        name: "BlockLayoutTypeSelect",
        components: {OctoMultiselect},
        data() {
            return {
                localLayout: {}
            }
        },
        props: {
            variable: {
                type: Object
            },
            layout: {
                type: Array
            }
        },
        mounted() {
            this.localLayout = this.$_.find(this.layout, item => {
                return item.name === this.variable.name
            });
        },
        computed: {
            options() {
                return this.$_.map(this.localLayout.options, option => {
                    return {
                        name: option,
                        value: option
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>
