<template>
    <octo-table
        :action="routes.DATATABLES.blockHtml"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="BlockHtmlDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(blade)="data">
            <div>{{data.item.blade}}</div>
        </template>

        <template v-slot:cell(target)="data">
            <div>{{data.item.target}}</div>
        </template>

        <template v-slot:cell(module)="data">
            <div class="small text-uppercase">{{data.item.module}}</div>
        </template>

        <template v-slot:cell(origin)="data">
            <span class="rounded border text-uppercase small px-2" :class="getOriginClass(data.item)">
                {{getOriginLabel(data.item)}}
            </span>
        </template>

        <template v-slot:cell(settings)="data">
            <div class="d-flex"
                 v-if="data.item.settings && data.item.settings.length">
                <div class="mx-2"
                     v-for="(item, index) in data.item.settings" v-bind:key="index">
                    <octo-icon :icon="getIcon(item.type)"/>
                </div>
            </div>
        </template>

        <template v-slot:cell(contentCount)="data">
            <div>{{data.item.contentCount}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenBlockHtml', data.item)">
                <octo-icon icon="open-folder"/>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import blockHtmlConst from "../resources/blockHtmlConst";
    import {routes} from "../routes";

    export default {
        name: "BlockHtmlDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'blade', label: 'Blade', class: 'text-left'},
                    {key: 'origin', label: '', class: 'text-center'},
                    {key: 'module', label: 'Modulo', class: 'text-center'},
                    {key: 'target', label: 'Target', class: 'text-center'},
                    {key: 'settings', label: 'Settings', class: 'text-left'},
                    {key: 'contentCount', label: 'Added', class: 'text-center'},
                    {key: 'actions', label: '', class: 'text-right'},

                ]
            }
        },
        methods: {

            getIcon: function (type) {

                return blockHtmlConst[type]
                    ? blockHtmlConst[type].icon
                    : null

            },

            getOriginLabel: function (item) {

                if (item.custom) {
                    return 'CUSTOM'
                }

                if (item.template) {
                    return 'TEMPLATE'
                }

                if (item.standard) {
                    return item.module
                }

                return 'NO BLADE';

            },

            getOriginClass: function (item) {

                if (item.custom) {
                    return 'border-primary text-primary'
                }

                if (item.template) {
                    return 'border-warning text-warning'
                }

                if (item.standard) {
                    return 'border-info text-info'
                }

                return 'border-danger text-danger';
            }

        }
    }
</script>

<style scoped>

</style>
