<template>
    <octo-table
        :action="routes.DATATABLES.pages"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="PageDataTable"
    >

        <template v-slot:cell(name)="data">
            <div>{{ data.item.name }}</div>
            <div class="small text-uppercase">Type: <span class="text-primary">{{ data.item.type }}</span></div>
        </template>

        <template v-slot:cell(published)="data">
            <octo-icon :icon="data.item.published ? 'tick text-success' : 'wrong text-danger'"/>
        </template>

        <template v-slot:cell(sitemap)="data">
            <octo-icon :icon="data.item.sitemap ? 'tick text-success' : 'wrong text-danger'"/>
        </template>

        <template v-slot:cell(url)="data">
            <div class="d-flex align-items-center my-1"
                 v-for="(url, index) in data.item.pageLangs" v-bind:key="index">
                <div class="text-uppercase text-primary mr-2 border rounded langWidth text-center">
                    {{ url.lang }}
                </div>
                <div class="small"><a target="_blank" :href="getPageUrl(url.url,url.lang)">{{ url.url }}</a></div>
            </div>
        </template>
        <template v-slot:cell(actions)="data">
            <div class="d-flex justify-content-end">
                <div class="mx-2" v-on:click="$emit('onOpenPageSidebar', data.item)">
                    <octo-icon icon="pen"/>
                </div>
                <div class="mx-2"
                     v-on:click="$emit('onShowPage', data.item.id)">
                    <octo-icon icon="coding"/>
                </div>
            </div>

        </template>

        <template slot="custom-filters">
            <b-col cols="12" md="3" class="mb-3">
                <octo-multiselect
                    label="type"
                    name="type"
                    :value="{}"
                    :multiple="false"
                    :options="typeOptions"
                    @input="(item) => {filters.type = item.value}"/>
            </b-col>
            <b-col cols="12" md="2" class="mb-3">
                <octo-multiselect
                    label="published"
                    name="published"
                    :value="{}"
                    :multiple="false"
                    :options="booleanOptions"
                    @input="(item) => {filters.published = item.value}"/>
            </b-col>
            <b-col cols="12" md="2" class="mb-3">
                <octo-multiselect
                    label="Cestino"
                    name="bin"
                    :value="{}"
                    :multiple="false"
                    :options="booleanOptions"
                    @input="(item) => {filters.softDeleted = item.value}"/>
            </b-col>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoMultiselect from "@octoCmsComponents/octo-multi-select/OctoMultiselect";
    import {routes} from "../routes";

    export default {
        name: "PageDatatable",
        components: {OctoMultiselect, OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'name', label: 'Name', class: 'text-left'},
                    {key: 'published', label: 'Published', class: 'text-center'},
                    {key: 'sitemap', label: 'Sitemap', class: 'text-center'},
                    {key: 'url', label: 'Url', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ],
                booleanOptions: [
                    {
                        name: 'Sì',
                        value: true,
                    },
                    {
                        name: 'No',
                        value: false,
                    }
                ],
                typeSelectOptions: [],
            }
        },
        methods: {
            getPageUrl: function (url, lang) {
                return process.env.MIX_BASE_URL + "/" + (lang === this.$localStorage.getSettings().locale ? url : lang + "/" + url);
            }
        },
        computed: {
            typeOptions: function () {
                const options = [];

                this.$_.each(this.$localStorage.get('modules'), function (module) {
                    switch (module) {
                        case 'services':
                            options.push({
                                name: 'Service',
                                value: 'service'
                            });
                            break;
                        case 'testimonials':
                            options.push({
                                name: 'Testimonial',
                                value: 'testimonial'
                            });
                            break;
                        case 'shop':
                            options.push({
                                name: 'Shop',
                                value: 'shop'
                            });
                            break;
                        case 'catalog':
                            options.push(
                                {
                                    name: 'Product',
                                    value: 'product'
                                },
                                {
                                    name: 'Brand',
                                    value: 'brand'
                                },
                                {
                                    name: 'Category',
                                    value: 'category'
                                },
                                {
                                    name: 'Catalog',
                                    value: 'catalog'
                                },
                            );
                            break;
                    }
                });

                options.push(
                    {
                        name: 'Homepage',
                        value: 'homepage'
                    },
                    {
                        name: 'Standard',
                        value: 'standard'
                    }
                );

                return options;
            },
        }
    }
</script>

<style scoped lang="scss">
    .langWidth {
        width: 36px;
    }
</style>
