<template>
    <octo-table
        :action="routes.DATATABLES.pageRedirects"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="PageRedirectDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(old_url)="data">
            <div>{{data.item.old_url}}</div>
        </template>

        <template v-slot:cell(page_lang_id)="data">
            <div>{{data.item.pageLang.id}}</div>
        </template>

        <template v-slot:cell(page_lang_title)="data">
            <div>{{data.item.pageLang.meta_title}}</div>
        </template>

        <template v-slot:cell(page_lang_url)="data">
            <div>{{data.item.pageLang.url}}</div>
        </template>

        <template v-slot:cell(page_lang_lang)="data">
            <div class="text-uppercase text-primary mr-2 border rounded px-2">{{data.item.pageLang.lang}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenPageRedirectSidebar', data.item)">
                <octo-icon icon="open-folder" />
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "PageRedirectDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'old_url', label: 'Old URL', class: 'text-left'},
                    {key: 'page_lang_title', label: 'Title', class: 'text-left'},
                    {key: 'page_lang_url', label: 'Actual URL', class: 'text-left'},
                    {key: 'page_lang_lang', label: 'Lang', class: 'text-center'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
