<template>
    <octo-table
        :action="routes.DATATABLES.slides"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="SlideDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(slides)="data">
            {{data.item.slides.length}}
        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenSlideSidebar', data.item)">
                <octo-icon icon="pen"/>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "SlideDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'caption', label: 'Caption', class: 'text-left'},
                    {key: 'sub_caption', label: 'Sub Caption', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
