<template>
    <div>
        <b-alert show variant="warning">Blocchi HTML</b-alert>
        <block-html-datatable
            :key="blockHtmlDatatableKey"
            @onOpenBlockHtml="openSidebarBlock"/>
        <octo-sidebar-right
            @onHidden="showSidebar = false"
            :show-sidebar="showSidebar">
            <block-html-settings :key="blockHtmlSettingsKey"
                                 :block-html="currentBlockHtml"
                                 ref="blockHtmlSettings"
                                 @onSaveBlock="saveBlock"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import BlockHtmlDatatable from "../../datatables/BlockHtmlDatatable";
    import BlockHtmlSettings from "../../components/BlockHtmlSettings";
    import BlockHtml from "../../models/blockHtml";
    import {routes} from "../../routes";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "BlockHtmlMain",
        components: {OctoSidebarRight, BlockHtmlSettings, BlockHtmlDatatable},
        data() {
            return {
                showSidebar: false,
                titleSidebar: 'Nuovo',
                currentBlockHtml: this.$_.cloneDeep(BlockHtml),
                blockHtmlDatatableKey: 1,
                blockHtmlSettingsKey: 1
            }
        },
        mounted() {

        },
        methods: {
            showNewBlockSidebar: function () {
                this.titleSidebar = 'Nuovo blocco';
                this.currentBlockHtml = this.$_.cloneDeep(BlockHtml);
                this.showSidebar = true;
                this.blockHtmlSettingsKey++;
            },
            openSidebarBlock: function (item) {
                this.titleSidebar = item.blade;
                this.currentBlockHtml = this.$_.cloneDeep(item);
                this.showSidebar = true;
                this.blockHtmlSettingsKey++;
            },
            saveBlock: function (item) {
                if (this.$refs.blockHtmlSettings.validate()) {
                    this.$fullLoading.show();
                    this.$api.post(routes.BLOCK_HTML_STORE, item)
                        .then(() => {
                            this.$fullLoading.hide();
                            this.$bvToast.toast('Html Block salvato correttamente', {
                                title: 'Saving...',
                                variant: 'success'
                            });
                            this.blockHtmlDatatableKey++;
                            this.showSidebar = false;
                        })
                        .catch((err) => {
                            this.$fullLoading.hide();
                            this.$errorMessageHandler.display(err);
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
