<template>
    <div>
        <div class="mb-4 px-1 d-flex flex-column" v-if="localContent.type">
            <div class="text-uppercase text-primary">consigli per l'utilizzo:</div>
            {{localContent.type.instructions}}
        </div>
        <div class="mb-5" v-for="(variable, index) in localContent.data" v-bind:key="index">
            <div class="d-flex align-items-center">
                <div class="icon-block mr-3">
                    <octo-icon :icon="blockHtmlConst[variable.type].icon"/>
                </div>
                <b-alert show variant="primary"
                         class="text-left py-1 pr-0 d-flex align-items-center justify-content-between flex-grow-1 mb-0">
                    <div>{{ variable.name }}</div>
                    <div class="mx-2" v-b-tooltip.hover :title="getInstructions(variable.name)">
                        <octo-icon icon="search"/>
                    </div>
                </b-alert>
            </div>
            {{variable.instructions}}
            <div>
                <component
                    :variable="variable"
                    :is="blockHtmlConst[variable.type].variableComponent"/>
            </div>

        </div>
    </div>
</template>

<script>
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import blockHtmlConst from "../../resources/blockHtmlConst";
    import PageLangContent from "../../models/pageLangContent";

    export default {
        name: "BlockHtmlList",
        components: {OctoIcon},
        data() {
            return {
                localContent: PageLangContent,
                blockHtmlConst: blockHtmlConst,
                selectedHtmlBlock: false
            }
        },
        props: {
            content: {
                type: Object,
                default: () => this.$_.cloneDeep(PageLangContent)
            },
        },

        mounted() {
            this.localContent = this.$_.cloneDeep(this.content);
        },

        methods: {
            getLocalContent: function () {
                return this.localContent;
            },

            getInstructions(variableName) {
                const variableLayout = this.$_.find(this.localContent.type.settings, item => {
                    return item.name === variableName
                });

                return variableLayout.instructions;
            }
        }
    }
</script>

<style scoped lang="scss">
    .icon-block {
        font-size: 28px;
    }
</style>
