<template>
    <octo-image-html
        :picture="pictureHtml"
        @onSaveImage="onSaveImage"
    />
</template>

<script>

    import OctoImageHtml from "@octoCmsComponents/octo-image-html/OctoImageHtml";
    import PictureHtml from "@octoCmsComponents/models/pictureHtml";

    export default {
        name: "BlockVariableImage",
        components: {OctoImageHtml},
        data() {
            return {}
        },
        props: {
            variable: {
                type: Object,
                default: () => {
                }
            },
        },
        computed: {
            pictureHtml: function () {
                if (this.variable.value) {
                    return this.variable.value
                }
                return PictureHtml;
            },
        },
        methods: {
            onSaveImage: function (item) {
                this.variable.value = item;
            }
        }
    }
</script>

<style scoped lang="scss">
    .img-variable {
        height: 60px;
    }

    .img-container {
        min-height: 214px;
    }

    .img-selected {
        object-fit: contain;
        width: 100%;
        height: 200px;
    }

    .img-repo {
        height: 60px;
        width: auto;
    }
</style>
