<template>
    <octo-input :name="`string-${name}`" v-model="variable.value"/>
</template>

<script>
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

    export default {
        name: "BlockVariableString",
        components: {OctoInput},
        data() {
            return {
                name: Date.now(),
            }
        },
        props: {
            variable: {
                type: Object
            },
        },
    }
</script>

<style scoped>

</style>
