<template>
    <div>
        <div v-on:click="openModal">
            <div v-if="variable.value && variable.value.length">
                <b-list-group flush>
                    <b-list-group-item class="d-flex py-2 px-0 align-items-center"
                                       v-for="(element, index) in variable.value"
                                       v-bind:key="index">
                        <div class="mr-2">
                            {{ index + 1 }}
                        </div>
                        <div class="flex-grow-1">
                            <div class="text-primary">{{ element.title }}</div>
                            <div>{{ element.subtitle }}</div>
                        </div>

                    </b-list-group-item>
                </b-list-group>
            </div>
            <div v-else>
                <b-alert
                    show
                    variant="warning"
                    class="text-uppercase text-center py-3">
                    Clicca per aggiungere elementi alla lista
                </b-alert>
            </div>

        </div>
        <block-variable-bullet-list-modal ref="bulletListModal"
                                          :value="variable.value"
                                          :show-modal="showModal"
                                          :key="modalKey"
                                          @onSaveModalData="saveModalData"/>
    </div>
</template>

<script>
    import BlockVariableBulletListModal from "./BlockVariableBulletListModal";

    export default {
        name: "BlockVariableBulletList",
        components: {BlockVariableBulletListModal},
        data() {
            return {
                name: Date.now(),
                showModal: false,
                modalKey: 1,
            }
        },
        props: {
            variable: {
                type: Object
            },
        },
        methods: {
            saveModalData(value) {
                if (this.$refs.bulletListModal.validate()) {
                    this.variable.value = value;
                    this.showModal = false;
                }
            },
            openModal() {
                this.modalKey++;
                this.showModal = true;
            }
        },
        mounted() {
            this.$root.$on('bv::modal::hide', () => {
                this.showModal = false;
            })
        },
    }
</script>

<style scoped>

</style>
