<template>
    <div>
        <div v-on:click="() => this.showModalHtml = true">
            <div v-if="variable.value" class="small codeContainer">
                {{variable.value}}
            </div>
            <div v-else>
                <b-alert show
                         variant="warning"
                         class="text-uppercase text-center py-3">
                    Clicca per inserire il testo
                </b-alert>
            </div>
        </div>


        <octo-modal :visible="showModalHtml"
                    :title="`Edit ${variable.name}`"
                    title-icon="coding"
                    :no-enforce-focus="true"
                    size="lg"
                    :buttons="buttons"
                    @onSaveVariableHtml="onSaveVariableHtml">
            <octo-rich-text
                :editor-height="400"
                :initial-value="editorValue"
                @onEditorUpdate="(value) => this.editorValue = value"/>
        </octo-modal>
    </div>
</template>

<script>

    import OctoModal from "@octoCmsComponents/octo-modal/OctoModal";
    import OctoRichText from "@octoCmsComponents/octo-rich-text/OctoRichText";

    export default {
        name: "BlockVariableHtml",
        components: {
            OctoRichText,
            OctoModal
        },
        data() {
            return {
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveVariableHtml',
                        variant: 'primary'
                    }
                ],
                showModalHtml: false,
                editorValue: '',
            }
        },
        props: {
            variable: {
                type: Object
            },
        },
        mounted() {
            this.editorValue = this.variable.value;

            this.$root.$on('bv::modal::hide', () => {
                this.showModalHtml = false;
            });

        },
        methods: {
            onSaveVariableHtml: function () {
                this.variable.value = this.editorValue;
                this.showModalHtml = false;
            },

        },
    }
</script>

<style scoped lang="scss">
    .codeContainer {
        max-height: 42px;
        overflow: hidden;
    }
</style>
