<template>
    <octo-modal
        title="Modifica l'elenco"
        title-icon="list"
        :scrollable="true"
        :visible="showModal"
        :buttons="buttons"
        @onSaveModalData="$emit('onSaveModalData', localValue)"
    >
        <b-alert :show="localValue.length === 0"
                 variant="warning"
                 class="text-uppercase text-center py-3">
            Nessun elemento in lista
        </b-alert>


            <draggable v-model="localValue" group="people" @start="drag=true" @end="drag=false">
                <div class="d-flex align-items-center p-2"
                                   v-for="(element, index) in localValue"
                                   v-bind:key="index">
                    <div class="mr-3 text-primary subtitle list-number text-center">
                        {{index}}
                    </div>
                    <div class="flex-grow-1">
                        <octo-input class="mb-3"
                                    placeholder="title"
                                    :name="`title-${index}`"
                                    :error="errors['title-' + index]"
                                    @input="errors['title-' + index] = false"
                                    v-model="element.title"/>
                        <octo-input placeholder="subtitle"
                                    :name="`subtitle-${index}`"
                                    v-model="element.subtitle"/>
                    </div>
                    <div class="ml-3" v-on:click="removeElement(index)">
                        <octo-icon icon="delete"/>
                    </div>
                </div>
            </draggable>

        <div class="mt-3 text-primary text-uppercase text-center" v-on:click="addElement">
                aggiungi elemento alla lista
        </div>


    </octo-modal>
</template>

<script>
    import draggable from '@adminNodeModules/vuedraggable'
    import OctoModal from "@octoCmsComponents/octo-modal/OctoModal";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";

    export default {
        name: "BlockVariableBulletListModal",
        components: {OctoInput, OctoIcon, draggable, OctoModal},
        data() {
            return {
                buttons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveModalData',
                        variant: 'primary',
                    }
                ],
                localValue: [],
                errors: {}
            }
        },
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            value: {
                type: Array,
                default: () => []
            }
        },
        mounted() {
            this.localValue = this.value
                ? this.$_.cloneDeep(this.value)
                : [];
        },
        methods: {
            addElement: function () {
                this.localValue.push({
                    title: '',
                    subtitle: '',
                })
            },
            removeElement: function (index) {
                this.localValue.splice(index, 1);
            },
            validate() {
                this.errors = {};

                if (this.localValue.length === 0) {
                    this.errors.emptyValue = true;
                }

                let index = 0;

                this.$_.each(this.localValue, element => {
                    if (element.title === '') {
                        this.errors['title-' + index] = true;
                    }
                    index++;
                });

                return this.$_.isEmpty(this.errors);
            },
        }
    }
</script>

<style scoped lang="scss">
.list-number {
    width: 12px;
}
</style>
