<template>
    <b-container>
        <b-row class="mb-2">
            <b-col cols="12">Qui puoi configurare alcuni degli stili legati a questo blocco</b-col>
        </b-row>
        <b-row>
            <b-col :cols="variable.name === 'bg-color' ? 12 : 6"
                   class="mb-4"
                   v-for="(variable, index) in localContent.layout"
                   v-bind:key="index">
                <div class="d-flex flex-column">
                    <b-alert show variant="secondary"
                             class="text-left py-1 pr-0 mb-2 flex-grow-1 d-flex justify-content-between">
                        <div>{{ variable.name }}</div>
                        <div class="mx-2" v-b-tooltip.hover :title="getInstructions(variable.name)">
                            <octo-icon icon="search"/>
                        </div>
                    </b-alert>
                </div>
                <component
                    :variable="variable"
                    :layout="localContent.type.layout"
                    :is="blockLayoutConst[variable.type].variableComponent"/>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import PageLangContent from "../../models/pageLangContent";
    import BlockLayoutConst from "../../resources/blockLayoutConst";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";

    export default {
        name: "BlockLayoutComposer",
        components: {OctoIcon},
        data() {
            return {
                localContent: {},
                blockLayoutConst: BlockLayoutConst
            }
        },
        props: {
            content: {
                type: Object,
                default: () => PageLangContent
            },
        },
        mounted() {
            this.localContent = this.$_.cloneDeep(this.content) || {};
        },
        methods: {
            getLocalContent() {
                return this.localContent;
            },
            getInstructions(variableName) {
                const variableLayout = this.$_.find(this.localContent.type.layout, item => {
                    return item.name === variableName
                });

                return variableLayout.instructions;
            }
        }
    }
</script>

<style scoped lang="scss">

</style>
