<template>
    <div>
        <b-alert show variant="warning">Slides</b-alert>

        <slide-datatable @onOpenSlideSidebar="openSlideSidebar" :key="slideDatatableKey"/>

        <octo-sidebar-right
            @onHidden="showSidebar = false"
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
            @onSaveSlide="saveSlide"
            @onDeleteSlide="deleteSlide"
        >
            <slide-form
                ref="slideForm"
                :key="slideFormKey"
                :slide="currentSlide"/>
        </octo-sidebar-right>
    </div>
</template>

<script>

import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
import SlideForm from "../../forms/SlideForm";
import SlideDatatable from "../../datatables/SlideDatatable";
import Slide from "../../models/slide";
import {routes} from "../../routes";

export default {
    name: "SlideMain",
    components: {SlideDatatable, OctoSidebarRight, SlideForm, OctoHeaderButton},
    data() {
        return {
            currentSlide: {},
            showSidebar: false,
            slideFormKey: 0,
            slideDatatableKey: 0,
            sidebarButtons: [],
            headerButtons: [
                {
                    label: 'Nuova Slide',
                    onClick: 'onShowNewSlideSidebar',
                    icon: 'plus'
                },
            ],
        }
    },
    methods: {
        showNewSlideSidebar: function () {
            this.titleSidebar = 'Nuova Slide';
            this.currentSlide = this.$_.cloneDeep(Slide);
            this.showSidebar = true;
            this.sidebarButtons = [
                {
                    label: 'salva',
                    onClick: 'onSaveSlide',
                    icon: 'floppy-disk',
                }
            ];
            this.slideFormKey++;
        },

        openSlideSidebar: function (item) {
            this.titleSidebar = item.name;
            this.currentSlide = this.$_.cloneDeep(item);
            this.showSidebar = true;
            this.sidebarButtons = [
                {
                    label: 'salva',
                    onClick: 'onSaveSlide',
                    icon: 'floppy-disk',
                },
                {
                    label: 'elimina',
                    onClick: 'onDeleteSlide',
                    icon: 'delete',
                    styleBtn: 'secondary-button',
                    confirmData: {
                        title: 'Conferma Eliminazione',
                        message: 'Vuoi eliminare la diapositiva?'
                    },
                }
            ];
            this.slideFormKey++;
        },

        saveSlide: function () {
            if (this.$refs.slideForm.validate()) {
                this.$fullLoading.show();
                this.$api({
                    method: this.currentSlide.id ? 'put' : 'post',
                    url: this.currentSlide.id
                        ? routes.SLIDES_UPDATE.replace('{id}', this.currentSlide.id)
                        : routes.SLIDES_STORE,
                    data: this.currentSlide
                }).then(() => {
                    this.slideDatatableKey++;
                    this.showSidebar = false;
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Diapositiva salvata correttamente', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                }).catch(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Diapositiva non salvata', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                });
            }
        },

        deleteSlide() {
            this.$fullLoading.show();
            this.$api.delete(routes.SLIDES_DELETE.replace('{id}', this.currentSlide.id))
                .then(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Diapositiva cancellata correttamente', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                    this.slideDatatableKey++;
                    this.showSidebar = false;
                })
                .catch(() => {
                    this.$fullLoading.hide();
                    this.$bvToast.toast('Diapositiva non cancellata', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                })
        },
    }
}
</script>

<style scoped>

</style>
