<template>
    <div>
        <octo-input class="mb-2"
                    label="Name"
                    :name="inputName"
                    v-model="name"/>
        <div class="text-uppercase font-value">Value</div>
        <octo-rich-text @onEditorUpdate="(html) => { this.value = html}"/>
    </div>
</template>

<script>
    import OctoInput from "@/components/octo-input/OctoInput";
    import OctoRichText from "@/components/octo-rich-text/OctoRichText";

    export default {
        name: "BlockHtmlContentText",
        components: {OctoRichText, OctoInput},
        data() {
            return {
                name: '',
                value: '',
                inputName: 'name-' + Date.now()
            }
        },
        methods: {
            getData: function () {
                return {
                    name: this.name,
                    value: this.value
                }
            }
        },

    }
</script>

<style scoped lang="scss">
    .font-value {
        font-weight: 200;
    }
</style>
