<template>
    <b-container>
        <b-row class="mb-2">
            <b-col cols="12">
                Qui puoi configurare le variabili da utilizzare nel blade legato a questo blocco.
            </b-col>
        </b-row>
        <b-row class="mb-2">
            <b-col cols="12">
                Dopo aver salvato il blocco, ricorda di creare il blade corrispondente
            </b-col>
        </b-row>
        <b-row v-if="blockEntity.contentCount" class="mb-2">
            <b-col cols="12">
                Fai attenzione ad inserire o togliere variabili in quanto potrebbero essere utilizzate al momento
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="d-flex align-items-center">
                <octo-simple-image class="mb-2" :src="blockEntity.src" @onSaveImage="(src) => saveBlockSrc(src)"/>
            </b-col>
            <b-col cols="8">
                <octo-input class="mb-2"
                            label="Blade"
                            name="blade"
                            :enabled="enableSaving"
                            v-model="blockEntity.blade"
                            :error="errors.blade"
                            @input="errors.blade = false"/>
                <octo-input class="mb-2"
                            label="Module"
                            name="module"
                            :enabled="enableSaving"
                            v-model="blockEntity.module"
                            :error="errors.module"
                            @input="errors.module = false"/>
                <octo-input class="mb-2"
                            label="Entity"
                            name="entity"
                            :enabled="enableSaving"
                            v-model="blockEntity.entity"
                            :error="errors.entity"
                            @input="errors.entity = false"/>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <octo-text-area class="mb-2"
                                label="Instructions"
                                name="instructions"
                                :enabled="enableSaving"
                                v-model="blockEntity.instructions"
                                :error="errors.instructions"
                                @input="errors.instructions = false"/>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" class="d-flex justify-content-center">
                <octo-button class="my-3 mx-2" label="Salva" v-if="enableSaving"
                             @onClick="saveBlock"
                             icon="floppy-disk"/>
                <octo-button class="my-3 mx-2" label="Force" v-if="!enableSaving"
                             @onClick="onForceSave"/>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <div v-if="enableSaving" class="d-flex justify-content-between mb-3">
                    <div v-for="(type, index) in variableTypes" v-bind:key="index"
                         class="text-center mx-3" v-on:click="addVariable(index)">
                        <octo-icon :icon="type.icon" class="icon-content"/>
                        <div class="small text-uppercase">{{type.label}}</div>
                    </div>
                </div>
            </b-col>
        </b-row>
        <hr>
        <b-row>
            <b-col cols="12">
                <b-list-group flush class="p-0">
                    <b-list-group-item class="d-flex align-items-center p-1"
                                       v-for="(item, index) in blockEntity.settings" v-bind:key="index">
                        <div class="mr-2 icon-settings">
                            <octo-icon :icon="iconVariable(item.type)"/>
                        </div>
                        <div class="flex-grow-1">
                            <octo-input :enabled="enableSaving"
                                        placeholder="variable name"
                                        :name="`name-${index}`"
                                        v-model="item.name"
                                        :error="errors['name-' + index]"
                                        @input="errors['name-' + index] = false"/>
                        </div>
                        <div class="ml-3" v-if="enableSaving" v-on:click="removeVariable(index)">
                            <octo-icon icon="delete"></octo-icon>
                        </div>
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import blockHtmlConst from "../resources/blockHtmlConst";
    import BlockEntity from "../models/blockEntity";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
    import OctoSimpleImage from "@octoCmsComponents/octo-simple-image/OctoSimpleImage";

    export default {
        name: "BlockEntitySettings",
        components: {OctoSimpleImage, OctoTextArea, OctoInput, OctoButton, OctoIcon},
        data() {
            return {
                forceSave: false,
                variableTypes: blockHtmlConst,
                errors: {}
            }
        },
        props: {
            blockEntity: {
                type: Object,
                default:
                    () => BlockEntity
            },
        },
        mounted() {
            this.forceSave = false;
        },
        computed: {
            enableSaving: function () {
                return !this.blockEntity.id || this.forceSave;
            }
        },
        methods: {
            saveBlock: function () {
                this.$emit('onSaveBlock', this.blockEntity)
            },
            onForceSave: function () {
                this.forceSave = true;
            },
            iconVariable: function (type) {
                return blockHtmlConst[type]
                    ? blockHtmlConst[type].icon
                    : null
            },
            addVariable: function (type) {
                this.blockEntity.settings.push({
                    type: type,
                    name: ''
                })
            },
            removeVariable: function (index) {
                this.$bvModal.msgBoxConfirm(
                    'Sei sicuro di voler eliminare la variabile', {
                        title: 'Rimozione variabile',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'primary',
                        cancelVariant: 'dark',
                        okTitle: 'SI',
                        cancelTitle: 'NO',
                        footerClass: 'p-1',
                        headerClass: 'py-1 px-2',
                        hideHeaderClose: true,
                        noCloseOnBackdrop: true,
                        noCloseOnEsc: true,
                        centered: true
                    })
                    .then(value => {
                        if (value) {
                            this.$delete(this.blockEntity.settings, index);
                        }
                    })
            },
            saveBlockSrc(src) {
                this.$set(
                    this.blockEntity,
                    'src',
                    process.env.MIX_BUCKET_BASE_URL + '/' + process.env.MIX_BUCKET_NAME + '/' + src
                );
            },
            validate() {
                this.errors = {};

                if (this.blockEntity.blade === '') {
                    this.errors.blade = true;
                }

                if (this.blockEntity.module === '') {
                    this.errors.module = true;
                }

                if (this.blockEntity.entity === '') {
                    this.errors.entity = true;
                }

                if (this.blockEntity.instructions === '') {
                    this.errors.instructions = true;
                }

                this.$_.each(this.blockEntity.settings, (setting, index) => {
                    if (setting.name === '') {
                        this.errors['name-' + index] = true;
                    }
                });

                return this.$_.isEmpty(this.errors);
            },
        }
    }
</script>

<style scoped lang="scss">
    .icon-content {
        font-size: 48px;
    }

    .icon-settings {
        font-size: 30px;
    }
</style>
