<template>
    <div class="d-flex align-items-center flex-wrap">
        <div class="flex-grow-1">
            <div>
                <span class="text-uppercase text-primary">{{content.content_type}}</span>
            </div>
            <div v-if="content.content_type === contentTypeConst.BlockHtml.name
            || content.content_type === contentTypeConst.BlockEntity.name">
                Blade: <span class="text-primary">{{content.type.blade}}</span>
            </div>
            <div v-if="content.content_type === contentTypeConst.BlockEntity.name">
                Entity: <span class="text-primary">{{content.type.entity}}</span>
            </div>
            <div class="small">Position: <span class="text-primary">{{content.position}}</span></div>
        </div>
        <div class="ml-auto d-flex align-items-center">
            <div class="mx-2" v-on:click="() => content.position > 0 ? content.position-- : null">
                <octo-icon icon="up-arrow"/>
            </div>
            <div class="mx-2" v-on:click="() => content.position++">
                <octo-icon icon="down-arrow"/>
            </div>
            <div class="mx-2" v-on:click="$emit('onOpenEditSidebarContent', content)">
                <octo-icon icon="open-folder"/>
            </div>
        </div>
    </div>
</template>

<script>
    import OctoIcon from "@/components/octo-icon/OctoIcon";
    import contentTypeConst from "../resources/contentTypeConst";

    export default {
        name: "ContentContainer",
        components: {OctoIcon},
        data() {
            return {
                contentTypeConst: contentTypeConst,
            }
        },
        props: {
            content: {
                type: Object,
                default: () => {}
            },
        }
    }
</script>

<style scoped lang="scss">
    .icon-content {
        font-size: 40px;
        line-height: 30px;
    }
</style>
