<template>
    <b-card no-body class="p-2">
        <b-alert show variant="primary" class="text-uppercase">
            Footer items
        </b-alert>

        <b-tabs card fill class="mb-0">
            <b-tab title="Menu" active class="p-2">
                <b-card-text class="mt-2">
                    <div v-if="menus && menus.length">
                        <draggable
                            :list="menus"
                            :group="{ name: 'footerContent', pull: 'clone', put: false }"
                            :clone="addMenu"
                            :sort="false"
                            class="d-flex flex-wrap"
                        >
                            <b-card
                                v-for="(item, index) in menus" v-bind:key="index"
                                no-body class="p-2 text-center mx-3 mb-2">
                                <div class="subtitle text-uppercase text-primary">
                                    {{ item.name }}
                                </div>
                                <div>Blade: <span class="text-primary">{{item.blade}}</span></div>
                            </b-card>
                        </draggable>
                    </div>
                    <div v-else>
                        <b-alert show variant="warning" class="mb-0">No Menu</b-alert>
                    </div>
                </b-card-text>
            </b-tab>
            <b-tab title="Html Block" class="p-2">
                <b-card-text class="mt-2">
                    <div v-if="blockHtml && blockHtml.length">
                        <draggable
                            :list="blockHtml"
                            :group="{ name: 'footerContent', pull: 'clone', put: false }"
                            :clone="addBlockHtml"
                            :sort="false"
                            class="d-flex flex-wrap"
                        >
                            <b-card
                                v-for="(item, index) in blockHtml" v-bind:key="index"
                                no-body class="p-2 text-center mx-3 mb-2">
                                <div class="subtitle text-uppercase text-primary">
                                    {{ item.blade }}
                                </div>
                                <div>{{item.instructions}}</div>
                            </b-card>
                        </draggable>
                    </div>
                    <div v-else>
                        <b-alert show variant="warning" class="mb-0">No Block HTML</b-alert>
                    </div>
                </b-card-text>
            </b-tab>
            <b-tab title="Block Entity" class="p-2">
                <b-card-text class="mt-2">
                    <div v-if="blockEntities && blockEntities.length">
                        <draggable
                            :list="blockEntities"
                            :group="{ name: 'footerContent', pull: 'clone', put: false }"
                            :clone="addBlockEntity"
                            :sort="false"
                            class="d-flex flex-wrap"
                        >
                            <b-card
                                v-for="(item, index) in blockEntities" v-bind:key="index"
                                no-body class="p-2 text-center mx-3 mb-2">
                                <div class="subtitle text-uppercase text-primary">
                                    {{ item.blade }}
                                </div>
                                <div>{{item.instructions}}</div>
                            </b-card>
                        </draggable>
                    </div>
                    <div v-else>
                        <b-alert show variant="warning" class="mb-0">No Block Entities</b-alert>
                    </div>
                </b-card-text>
            </b-tab>
        </b-tabs>
    </b-card>
</template>

<script>

import draggable from '@adminNodeModules/vuedraggable';
import FooterContent from "../../models/footerContent";

export default {
    name: "AvailableFooterItems",
    components: { draggable},
    data() {
        return {

        }
    },
    props: {
        blockHtml: {
            type: Array,
            default: () => []
        },
        blockEntities: {
            type: Array,
            default: () => []
        },
        menus: {
            type: Array,
            default: () => []
        },
    },


    methods: {

        addMenu: function (menu) {
            const item = this.$_.cloneDeep(FooterContent);
            item.content_type = 'Menu';
            item.content_id = menu.id;
            item.type = menu;
            return item;
        },

        addBlockEntity: function (blockEntity) {
            const item = this.$_.cloneDeep(FooterContent);
            item.content_type = 'BlockEntity';
            item.content_id = blockEntity.id;
            item.type = blockEntity;

            this.$_.each(blockEntity.layout, variable => {
                item.layout.push({
                    selected: null,
                    name: variable.name,
                    type: variable.type
                })
            });

            return item;
        },

        addBlockHtml: function (blockHtml) {
            const item = this.$_.cloneDeep(FooterContent);
            item.content_type = 'BlockHtml';
            item.content_id = blockHtml.id;
            item.type = blockHtml;

            this.$_.each(blockHtml.layout, variable => {
                item.layout.push({
                    selected: null,
                    name: variable.name,
                    type: variable.type
                })
            });

            return item;
        },

    }
}
</script>

<style scoped>

</style>
