<template>
    <div>
        <b-alert show class="text-uppercase" variant="primary">
            FOOTERS LIST
        </b-alert>
        <draggable v-model="localFooters"
                   v-bind="dragOptions"
                   group="footers"
                   @start="isDragging = true"
                   @end="isDragging = false"
                   @change="onChangeEvent"
                   handle=".handler-footer"
        >
            <b-card no-body class="p-2 mb-3 footer-class" v-for="(footer, index) in localFooters" v-bind:key="index">
                <div class="d-flex align-items-center mb-3">
                    <div class="subtitle mr-3 handler-footer">
                        <octo-icon icon="menu"></octo-icon>
                    </div>
                    <octo-input class="flex-grow-1"
                                prepend="Name"
                                name="name"
                                v-model="footer.name"
                                :error="errors['name-' + index]"
                                @input="errors['name-' + index] = false"
                    />
                    <octo-multiselect
                        class="ml-3"
                        :multiple="false"
                        :options="contentAlignOptions"
                        :value="{ value: footer.content_align, name: footer.content_align }"
                        @input="(item) => footer.content_align = item.value"/>

                    <b-card no-body class="p-2 ml-3">
                        <div class="d-flex align-items-center justify-content-between ">
                            <div class="text-uppercase mr-3">
                                Active
                            </div>
                            <b-form-checkbox class="ml-4" v-model="footer.enabled" name="active" switch/>
                        </div>
                    </b-card>

                </div>
                <draggable v-model="footer.contents"
                           group="footerContent"
                           class="d-flex flex-wrap"
                           handle=".handle-footer-content"
                           @change="(event) => onChangeEventFooterContents(event, footer)"
                >
                    <b-col
                        v-for="(content, indexContent) in footer.contents"
                        v-bind:key="indexContent"
                        :md="content.size"
                    >
                        <b-card no-body class="mb-3">
                            <b-card-body class="p-2 handle-footer-content d-flex">
                                <div class="flex-grow-1">
                                    <div class="subtitle text-uppercase text-center">
                                        {{ content.content_type === 'menu' ? content.type.name : content.type.blade }}
                                    </div>
                                    <div class=" text-center">
                                        Type: <span class="text-primary">{{ content.content_type }}</span>
                                    </div>
                                    <div class="text-center">
                                        Col: <span class="text-primary">{{ content.size }}</span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <octo-button v-if="content.layout.length > 0"
                                                 icon="settings"
                                                 class="my-2"
                                                 style-btn="light-button"
                                                 @onClick="editFooterContentLayout(content, indexContent, index)"/>
                                    <octo-button icon="delete"
                                                 class="my-2"
                                                 style-btn="light-button-danger"
                                                 :confirmData="{
                                        title: 'Conferma Eliminazione',
                                        message: 'Vuoi eliminare il contenuto?'
                                     }"
                                                 @onClick="deleteFooterBlock(content, footer)"/>

                                </div>
                            </b-card-body>
                            <b-card-footer class="pt-2 pb-0 px-2">
                                <b-form-input
                                    lazy type="range" step="1" min="1" max="12"
                                    v-model="content.size"></b-form-input>
                            </b-card-footer>
                        </b-card>

                    </b-col>

                </draggable>
            </b-card>
        </draggable>
        <octo-sidebar-right
            @onHidden="showFooterLayoutSidebar = false"
            title="layout"
            :show-sidebar="showFooterLayoutSidebar"
            :buttons="sidebarLayoutButtons"
            @onUpdateFooterContentLayout="updateFooterContentLayout"
        >
            <block-layout-composer ref="blockLayoutComposer"
                                   :content="currentFooterContent"
                                   :key="blockLayoutComposerKey"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import Footer from "../../models/footer";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import draggable from '@adminNodeModules/vuedraggable';
    import OctoMultiselect from "@octoCmsComponents/octo-multi-select/OctoMultiselect";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import OctoButton from "@octoCmsComponents/octo-button/OctoButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";
    import BlockLayoutComposer from "../BlockLayout/BlockLayoutComposer";

    export default {
        name: "FootersContents",
        components: {
            BlockLayoutComposer, OctoSidebarRight, OctoButton, OctoIcon, OctoMultiselect, OctoInput, draggable
        },
        data() {
            return {
                localFooters: [],
                contentAlignOptions: [
                    {
                        value: 'justify-content-start',
                        name: 'justify-content-start',
                    },
                    {
                        value: 'justify-content-center',
                        name: 'justify-content-center',
                    },
                    {
                        value: 'justify-content-end',
                        name: 'justify-content-end',
                    },
                    {
                        value: 'justify-content-around',
                        name: 'justify-content-around',
                    },
                    {
                        value: 'justify-content-between',
                        name: 'justify-content-between',
                    },
                ],
                currentFooterIndex: null,
                currentFooterContent: null,
                currentFooterContentIndex: null,
                blockLayoutComposerKey: 1,
                showFooterLayoutSidebar: false,
                sidebarLayoutButtons: [
                    {
                        label: 'ok',
                        onClick: 'onUpdateFooterContentLayout',
                        icon: 'tick',
                    }
                ],
                errors: {},
            }
        },
        props: {
            footers: {
                type: Array,
                default: () => []
            },
        },
        computed: {
            dragOptions() {
                return {
                    animation: 0,
                    disabled: false,
                    ghostClass: "ghost"
                };
            }
        },
        mounted() {
            this.localFooters = this.footers;
        },
        methods: {
            addNewFooter: function () {
                const newFooter = this.$_.cloneDeep(Footer);
                newFooter.order = this.localFooters.length;
                this.localFooters.push(newFooter);
            },
            getFooters: function () {
                return this.localFooters;
            },
            onChangeEvent: function () {
                this.$_.forEach(this.localFooters, (item, index) => {
                    this.$set(item, 'order', index);
                });
            },

            onChangeEventFooterContents: function (event, footer) {

                if (event && event.added) {
                    event.added.element.footer_id = footer.id;
                }

                this.$_.forEach(footer.contents, (item, index) => {
                    this.$set(item, 'order', index);
                    this.$set(item, 'footer_id', footer.id);
                });
            },

            deleteFooterBlock: function (content, footer) {
                this.$set(footer, 'contents', this.$_.filter(footer.contents, (item) => {
                    return content.order !== item.order
                }));
            },

            editFooterContentLayout: function (content, contentIndex, footerIndex) {
                this.currentFooterContentIndex = contentIndex;
                this.currentFooterIndex = footerIndex;
                this.currentFooterContent = content;
                this.blockLayoutComposerKey++;
                this.showFooterLayoutSidebar = true;
            },

            updateFooterContentLayout: function () {
                const footer = this.footers[this.currentFooterIndex];

                this.$set(
                    footer.contents,
                    this.currentFooterContentIndex,
                    this.$refs.blockLayoutComposer.getLocalContent()
                );
                this.showFooterLayoutSidebar = false;
            },

            validate() {
                this.errors = {};

                this.$_.each(this.footers, (footer, index) => {
                    if (footer.name === '') {
                        this.errors['name-' + index] = true;
                    }
                });

                return this.$_.isEmpty(this.errors);
            },
        }
    }
</script>

<style scoped lang="scss">
    .footer-class {
        min-height: 120px;
    }
</style>
